[2020-08-19 11:53] kukabi commented on #2137
Sorry for the late response. I agree with @Jasonvdb.

[2020-08-20 09:21] sdbondi commented on #2137
I agree with the proposed strategy, specifically due to the unpredictable availability of mobile connectivity/background processes, that some robustness has to be built into the transaction protocol.

Without knowing every detail of the implementation, these are the issues that I see with the current protocol that we should try to solve:
1. If the receiver rejects the transaction (or has some inte

[2020-08-20 09:37] philipr-za commented on #2137
Ok  I agree that perhaps unsolvable was the wrong term, I meant it in the context of the initial statement:

I agree with the reasons it is not feasible/desirable to achieve a 100% reliable SAF protocol.

The SAF transport is quite different to a direct TCP transport though so should just keep that in mind when building domain-level protocols using these different transports, which we are using in

[2020-08-20 09:44] sdbondi commented on #2137
💯 Looking forward to seeing these improvements! 🚀

[2020-08-20 10:09] SWvheerden commented on #2140
Is there reasons why we would force nodes to run only run tcp?
I can think of a lot of reasons why its advantages to run the nodes in tor mode.

Whould it not be better to combine the two networks, have nodes run tcp and tor?

[2020-08-20 10:13] sdbondi commented on #2140
@SWvheerden  I'll write this up at some point - but basically, you can create practically infinite tor addresses so there is no way/point in blocking a tor address - creating many identities on the network is cheap/almost free (>100s on a single machine). With TCP you can at least exclude IP addresses and there is a cost in getting more IPv4 addresses (IPv6 is another story).

Tor will still be al

[2020-08-20 10:42] sdbondi opened #2153 "Base node/wallet should emit an error if the LMDB/SQLite databases are in use by another process"
A lockfile or (database agnotic) lock "flag" should be investigated. This crate looks promising: https://docs.rs/lockfile/0.2.2/lockfile/

The important part of this functionality is the user being made aware of the fact that two base nodes are accessing the same database not to actually enforce exclusive access. The best strategy may be to lock the data directory with a crate like `lockfile`.

[2020-08-21 16:23] Tas4tari opened #2164 "Mobile logs not stored in UTC and does not contain user's timezone"
**Description:**
As per @mikethetike we should have the mobile logs stored as UTC or incorporate the user's timezone into the logs

[2020-08-24 13:51] SWvheerden opened #2158 "Remove difficulties from header"
### Issue
How do we deal with the difficulties related with more than one pow.
This issue is here to discuss how its currently working and ways we can do it for the future that allows us to implemented more than one difficulty, with a combination of them

### Current proof of work tracking.

## Achieved diffulty

Currently the achieved difficulty is tracked by the pow struct in the header.
[code]

[2020-08-24 14:04] philipr-za opened #2159 "Check if a pending inbound transaction Output is in the chain before cancelling"
Currently we will cancel a pending transaction if it has not completed after 3 days. However for an inbound transaction it is possible that a problem resulted in the Sender publishing the transaction but the Finalized message not reaching us. So before we totally give up on the transaction we should check with a Base Node if our output happened to be mined.

Waiting for Base Node RPC to be complet

[2020-08-24 15:14] delta1 commented on #2101
After the discussions with @SWvheerden (thanks!) we believe this specific issue occurs in blockchain_database.rs at [handle_reorg](https://github.com/tari-project/tari/blob/development/base_layer/core/src/chain_storage/blockchain_database.rs#L1585)

In the linked log file above, 2 blocks are added to the chain 51501 and 51502, but because no blocks were removed, the function returns `BlockAddResul

[2020-08-25 12:44] SWvheerden commented on #2158
We need to keep track of the split by the algorithms as well.

If we follow the above method of using an array or vec to keep track of the algorithms, we can also the same method to keep track of the splits.
For example using the above example, using [1,0,1] as monero and sha3, we can also use [60,0,40] to indicate that 60% should be monero and 40% should be sha3.

This can then be used with the r

[2020-08-25 13:47] SWvheerden commented on #2158
A big issue here is the achieved difficulties and target difficulties in the header.
We can easily remove them both. And only work on the header it self. While storing the achieved and target difficulties locally.

For a node to trust the network, it needs to store the every header and look at it. So we can easily move this to calculate this and store it as part of the header locally. But its not

[2020-08-25 15:59] stringhandler opened #2163 "[Merge Mining] Merge mining proxy config settings should be stored in their own section"
**Describe the bug**
Currently the config settings for the merge mining proxy are stored under the base node. These should be stored in their own section.

The settings are:
[code]

[2020-08-26 08:05] delta1 commented on #2101
There's a further complication..

`thread 'tokio-runtime-worker' panicked at 'Added empty set of blocks on reorg.', tari/base_layer/core/src/mempool/mempool_storage.rs:169:31`

By triggering the reorg logic when no blocks are removed, and more than one are added - `Mempool::process_reorg` panics at

[code]

Since `prev_tip_height` is only used to check for time-locked txs in the unconfirmed pool t

[2020-08-26 09:11] Tas4tari commented on #2164
@mikethetike As per @kukabi this should be an FFI issue as the FFI team fills in the logs. Therefore moving this to the Tari repo

[2020-08-26 13:17] hansieodendaal commented on #2113
# Blockchain sync profiling 2020/08/18

## Test Description

Two fresh base nodes were started (using Tor) in order to profile blockchain sync from scratch with trace logs being captured for both; one running on Windows and the other in an Ubuntu Linux virtual machine on the same host. Test conditions were not favorable as the host machine was used for many other high intensity tasks during this t

[2020-08-26 13:39] stringhandler opened #2165 "Missing test for `monero_difficulty_calculation`"
**Describe the bug**
Create a unit test for proof_of_work/monero_rx.rs::monero_difficulty_calculation

[2020-08-26 14:34] CjS77 commented on #2113
Am I reading this right? A _single_ difficulty validation takes up to 500 ms?

And does this include fetching from the DB at all?

[2020-08-26 20:30] hansieodendaal commented on #2113
No, this is not the time for `accum_difficulty_validator.validate(&fork_accum_difficulty, db)` alone; this function is very fast.

In the table the measurement point `Difficulty validation` is inclusive of everything after `Stateless validation`

Most of the time here is probably spent in `fn find_orphan_chain_tips<T: BlockchainBackend>(db: &T, parent_height: u64, parent_hash: BlockHash)`

[2020-08-27 06:57] hansieodendaal opened #2169 "Missing compulsory `monerod_url` key in config files"
**Describe the bug**

Following error message:
[code]

Cause:
`monerod_url = "http://192.110.160.146:38081"` was added to `rincewind-simple.toml`, but not to `windows.toml` and to `tari_config_sample.toml`

**To Reproduce**

n/a

**Expected behavior**

If a change is made to one configuration file, all should be updated where impacted, especially if it is a compulsory runtime change.

**Screenshot

[2020-08-27 08:08] philipr-za opened #2172 "Add a database transaction to the Output Manager Service when encumbering a received output"
We have seen some occurence of an intermittent bug where if the direct and propagated transaction messages arrive at a receiver in rapid succession we can have clashes in the Output Manager database because receiving a transaction requires multiple database operations. When they operations are interleaved and cause an error it breaks the inbound transaction.

The operations in the transaction and

[2020-08-27 08:18] hansieodendaal commented on #2113
Not seeing these delays between `Stateless validation` and `Difficulty validation` with the latest development version, after the message protocol change:
[code]

[2020-08-27 10:27] #2169 closed, assigned to nobody

[2020-08-27 10:32] delta1 commented on #1718
issue can be closed @mikethetike @CjS77 #2112

[2020-08-27 10:33] delta1 commented on #1883
issue can be closed @mikethetike #2032

[2020-08-27 12:17] #1883 closed, assigned to nobody

[2020-08-28 10:04] hansieodendaal opened #2177 "Basenode added empty blocks and headers to the blockchain database"
**Describe the bug**

The base node added 6 empty blocks and 5 empty headers to the database, after a chain-split.

Chain height is at 85166:
[code]
Headers  81561 to 81565 are missing:
[code]
Blocks 85161 to 85166 are missing:
[code]
[code]
The chain-split:
[code]
New block #85161 validation:
[code]
The validation failure:
[code]

**To Reproduce**

n/a

**Expected behavior**

Empty blocks or empt

[2020-08-28 15:21] github-actions[bot] opened #2178 "RUSTSEC-2020-0036: failure is officially deprecated/unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `failure`                      |
| Version             | `0.1.8`                   |
| URL                 | [https://github.com/rust-lang-nursery/failure/pull/347](https://git

[2020-08-30 07:46] delta1 opened #2180 "CLI/functionality improvements"
This proposal is:

* [X] A new feature
* [ ] An extension to an existing RFC/proposal <LINK>
* [ ] An alternative approach to an existing RFC or proposal <LINK>

### Change log

| Date | Changes |
|:-----|:--------|
|2020-08-30|init|
|2020-10-07|PR for unban all and list banned|

### Goals
Add features/functionality to the interface

### Assumptions
- that we want to improve user interfaces

### A

[2020-08-31 08:02] hansieodendaal opened #2181 "LMDB `mapsize` (environment size) does not increase as the database is filling up."
**Describe the bug**

LMDB `mapsize` (environment size) does not increase as the database is filling up. This results in db write failures when syncing from scratch at ~76,000 block height, when the db size reaches 1GiB. (_#1817 changed the 50GiB initial size down to 1GiB for reasons discussed there._)

**To Reproduce**

Sync from scratch on a blockchain that is larger than 1 GiB, without restarti

[2020-08-31 10:33] sdbondi opened #2182 "Reorg failure can cause database corruption in some cases"
**Describe the bug**
When a reorg occurs where more than one block is reorg'd _out_ and, for whatever reason, the reorg fails - the previous state before the reorg should be recovered. However, during a recent bug with the block validator which caused a false negative, blocks that were reorged out could not be reinserted. The restoration process itself failed and caused the database to contain sta

[2020-08-31 12:25] delta1 commented on #2178
Tracked this down to `monero-rs` dependency, issue created at [monero-rs#19](https://github.com/monero-rs/monero-rs/issues/19)

[2020-08-31 15:33] stringhandler opened #2185 "User cannot run base node on Windows spaces in filename"
**Describe the bug**
User could not install base node in a folder with a space in it e.g. "C:\User\User Name\.tari-testnet"

[2020-08-31 17:04] boldsuck commented on #2146
I don't have this problem on my 3 server. Also Debian Buster. on bare metal.

KDE Konsole: remote SSH login
Terminal Size
Columns: 80 ; Rows: 40

[code]

[2020-09-01 08:44] delta1 commented on #2178
PR merged at [monero-rs#20](/monero-rs/monero-rs/pull/20). Waiting for new release

[2020-09-01 12:10] #2182 closed, assigned to nobody

[2020-09-01 16:24] hansieodendaal commented on #2113
# Blockchain sync profiling 2020/08/27

## Test Description

Two fresh base nodes [version ~`0.5.3-3fc542d-release`] were started (using Tor) in order to profile blockchain sync from scratch with trace logs being captured for both; both running on Windows on two different hosts. Test conditions were favorable as the host machines were not used for other high intensity tasks during this time. Overa

[2020-09-03 07:42] philipr-za opened #2192 "Complete LibWallet integration into tari_console_wallet"
PR https://github.com/tari-project/tari/pull/2094 refactored the console application and started the process of integrating LibWallet into the application. There is still work to be done on the tari_console_wallet to make it functional and this Issue documents some of the points that still need to be tackled.

- Add way to specific wallet base node in config (Currently just using the first Seed No

[2020-09-03 10:53] leet4tari commented on #1811
Since https://github.com/tari-project/tari/pull/2020 source code builds can target CPU instruction sets

[code]

As of release v0.5.4, some basic binary builds can be found at https://www.tari.com/downloads/
 - minimum set  ```x86-64/safe```
 - medium set  ```ivybridge/safe```
 - higher set ```ivybridge/avx2```

[2020-09-03 13:02] stringhandler commented on #2185
Fixed in v0.5.4

[2020-09-03 13:02] #2185 closed, assigned to nobody

[2020-09-07 06:22] sdbondi opened #2195 "Pruned mode sync should update node state info as it syncs"
Pruned mode currently provides no user feedback on its progress. It should update the number of synced kernels, utxos and rangeproofs received as it syncs.

[2020-09-07 09:11] hansieodendaal opened #2197 "Improve initial blockchain sync with optimized receiving of blocks from peers"
This proposal is (tick applicable):

* [X] A new feature
* [X] An extension to an existing RFC/proposal (See #2113)
* [ ] An alternative approach to an existing RFC or proposal <LINK>

### Change log

| Date | Changes |
|:-----|:--------|
|      |         |

### Goals

To minimize delays between receiving blocks during the initial sync.

### Assumptions

This is dependent on RPC to be implemented.

[2020-09-07 09:37] stringhandler commented on #2117
Removed the debug build from Circle CI. The debug build required more RAM than was available on the instance. At a later stage migrating to another CI tool can be investigated, but currently building only in release mode is sufficient

[2020-09-07 09:37] #2117 closed, assigned to nobody

[2020-09-07 09:37] stringhandler commented on #2101
Closed in #2166

[2020-09-07 09:37] #2101 closed, assigned to nobody

[2020-09-07 09:39] stringhandler commented on #2177
Closed in #2183

[2020-09-07 09:39] #2177 closed, assigned to nobody

[2020-09-07 10:14] stringhandler commented on #2163
Closed in #2171

[2020-09-07 10:14] #2163 closed, assigned to nobody

[2020-09-08 07:19] philipr-za opened #2198 "Add validation of Spent TXOs to see if they have become Unspent TXOs"
During a reorg it is possible that a spent output could become unspent. Add an Output Validation protocol to the Output Manager to check if Spent outputs have become Unspent.

[2020-09-08 07:21] philipr-za opened #2199 "Revalidate invalid outputs in the Output Manager"
Outputs can be marked as invalid incorrectly due to reorg or a base node responding based on out of date blockchain state. Add a protocol to the Output Manager to periodically revalidate invalid outputs.

[2020-09-08 12:44] stringhandler opened #2201 "Expose kernel excess and excess signature via FFI"
Currently, the Aurora wallet doesn't show any details about the transaction in the transaction details view. It would be useful to have a link to a block explorer or the excess or excess signature in order to prove to the receiver that I have sent it.

The FFI currently doesn't expose these fields (AFAIK)

[2020-09-08 12:51] philipr-za commented on #2201
Just a note this will only be possible on a CompletedTransaction that has a TransactionStatus other than Pending. In the FFI we convert InboundTransaction and OutboundTransaction to CompletedTransactions for presentation by the frontend but if they are converted they will not have a fully formed Transaction field.

[2020-09-08 16:46] stringhandler opened #2204 "Add friendly message for when tor is offline"
When starting the base node, if Tor transport is selected and Tor is not running, the user sees this error:

[code]

A more helpful error message (e.g. "Was unable to connect to Tor, is it running? Otherwise change to use TCP transport <help link>") would be um... more helpful

[2020-09-09 11:33] delta1 opened #2206 "String localization"
Mozilla uses Project Fluent https://www.projectfluent.org which has a Rust crate here https://github.com/projectfluent/fluent-rs

[2020-09-09 14:11] philipr-za opened #2208 "Add a STXO validation protocol to the Output Manager Service"
Currently the output manager service has protocols to check if UTXOs are still unspent and to check if invalid have become valid UTXO's again.

Another validation that should be performed on Outputs in the wallet is to check that outputs marked as Spent (STXOs) are still spent and have not become UTXO's again due to a Reorg.

[2020-09-09 14:29] philipr-za opened #2209 "Copy FFI Docstrings into the wallet.h"
Currently the FFI interface is documented in the wallet_ffi lib.rs but users of the FFI library only see the wallet.h header. We should duplicate the docstrings in the header.

[2020-09-09 14:39] philipr-za opened #2210 "Add final check on blockchain for outputs to be received before timing out a pending transaction as the Recipient"
Once https://github.com/tari-project/tari/pull/2161 goes in when a wallet receives a transactions and sends the reply it will wait up to 3 days (current default) for the Sender to send the Finalized Transaction after which it will stop waiting and cancel the transaction.

However, it is possible for the Sender to have received the reply and published the transaction and either not send the Finaliz

[2020-09-09 14:44] philipr-za commented on #1806
https://github.com/tari-project/tari/pull/2194 provides the sync status.

It will still be useful to add a Base Node monitoring service to the wallet that maintains knowledge of the current chain tip.

[2020-09-09 14:47] philipr-za commented on #2199
Closed by https://github.com/tari-project/tari/pull/2006

[2020-09-09 14:47] #2199 closed, assigned to nobody

[2020-09-09 14:50] philipr-za commented on #468
No longer relevant in the new architecture

[2020-09-09 14:50] #468 closed

[2020-09-09 14:53] philipr-za commented on #1807
https://github.com/tari-project/tari/issues/2208 is a sub issues of this issue. By validating STXO's we will make funds that are erroneously flagged as spent spendable again but there is still value in marking Transactions that were reorged with some sort of status to indicate what happened to them.

[2020-09-09 15:00] philipr-za commented on #1805
The service that provides this functionality will also monitor the current chain tip from the nodes as described in https://github.com/tari-project/tari/issues/1806

[2020-09-09 15:34] #1808 closed, assigned to philipr-za

[2020-09-10 12:32] delta1 commented on #2178
Included in the 0.9.0 release - https://docs.rs/monero/0.9.0/monero/  @StriderDM @mikethetike

[2020-09-13 20:06] SWvheerden opened #2222 "Bug Miner does not mine"
Good day. I have 2 windows nodes that used to mine just fine. With the latest version (Actually from the previous one I think) it seems that I can not mine.

I enable mining from cmd with "toggle-mining", which is all I have to do previously. I've also changed some settings in "windows.toml" .

To be precise I found 2 instances inside this config file of:

"

# Enable if this node must be a mining

[2020-09-14 12:52] Tas4tari opened #2225 "User is unable to send Tari from cli to their wallet"
**Describe the bug: From Telegram**
All transfers made from the mining program to my mobile wallet are canceled.
However, the transfer of the cell phone wallet to the mining program works.

**Reporter:**
Wanderson Santos

**Smartphone (please complete the following information):**
 - Android

**Logs:**
[base_layer.1.log](https://github.com/tari-project/tari/files/5218507/base_layer.1.log)
[base_la

[2020-09-15 06:38] stringhandler opened #2228 "Merge tari_common::ConfigError and tari_common::ConfigurationError"
The tari_common crate exposes both a ConfigError and a ConfigurationError. These two should be combined IMHO

[2020-09-15 09:41] stringhandler commented on #581
Closing this as individual issues have been created

[2020-09-15 09:41] #581 closed

[2020-09-15 09:42] stringhandler commented on #582
Closing. See [explorer](https://explorer.tari.com) and [source](https://github.com/tari-project/block-explorer-frontend)

[2020-09-15 09:42] #582 closed

[2020-09-15 09:44] stringhandler commented on #585
@CjS77 @philipr-za @talmahaj Can this issue be closed?

[2020-09-15 09:45] stringhandler commented on #612
@CjS77 happy if I close this? I think it's better to add individual cases as issues as they are found

[2020-09-15 09:47] stringhandler commented on #770
Cleaning up some old issues. This has been implemented

[2020-09-15 09:47] #770 closed

[2020-09-15 09:49] stringhandler commented on #802
@philipr-za can this be closed? I think the per-field encryption handles this

[2020-09-15 09:52] philipr-za commented on #804
The API to access a wallets seed words exists and I think the requirement for client of the library to provide different branch seeds is no longer in scope. We do have the capability internally which we use for coinbase vs traditional transactions. Lets close this until we have need to expose the branch seed to clients.

[2020-09-15 09:52] #804 closed

[2020-09-15 12:40] #2178 closed, assigned to nobody

[2020-09-15 13:01] CjS77 commented on #585
I guess we can label - "Won't implement for now" and close it

[2020-09-15 13:02] CjS77 commented on #612
I'd guess nearly every link in the docstrings are broken, so this would be a good project for someone wanting to contribute. (It'll be listed on the website)

[2020-09-15 13:04] #585 closed

[2020-09-15 13:04] stringhandler commented on #585
This may be opened again at a later stage

[2020-09-15 13:41] delta1 commented on #612
Throw a `hacktoberfest` label on it

[2020-09-15 15:08] #2137 closed, assigned to nobody

[2020-09-15 15:08] #1804 closed, assigned to nobody

[2020-09-15 18:25] leet4tari commented on #2146
I think https://github.com/tari-project/tari/issues/1728 is related?

[2020-09-16 10:35] delta1 opened #2233 "Default wallet timeout configuration"
Regarding tari-project/tari#2220 default wallet config can I please have your feedback @philipr-za @hansieodendaal @mikethetike

Previously suggested were:

[code]

What should we default to?

[2020-09-16 10:40] philipr-za commented on #2233
base_node_query_timeout is not a thing anymore.
I have the following in the code:
[code]

[2020-09-16 10:42] delta1 commented on #2233
Thanks @philipr-za are those the current defaults? Do you suggest they remain the same?

[2020-09-16 10:43] philipr-za commented on #2233
I think so, unless there are arguments otherwise these have been what we have been using up till now.

[2020-09-16 13:14] hansieodendaal commented on #2233
The config source code defaults are here, same as the code snippet above,  should be reverted to the original values:
https://github.com/tari-project/tari/pull/2220/files

These values must be defaults in the config files (`tari_config_sample.toml` and `windows.toml`), not in the code:
[code]

[2020-09-16 14:10] #1811 closed, assigned to nobody

[2020-09-16 14:27] delta1 commented on #1882
as per https://github.com/tokio-rs/tokio/issues/2677 this will be resolved with the release of tokio 0.3

[2020-09-16 14:58] SWvheerden opened #2235 "Miner might mine empty block with 0 coinbase"
It might be possible to mine a block without a coinbase.

This block was in the log files:
2020-09-16 01:26:15.134530000 [c::bn::comms_interface::inbound_handler] TRACE Block: ----------------- Block -----------------
--- Header ---
Version: 1
Block height: 97948
Previous block hash: 268d0ea9c863972b997b9a10f8ee30d4f7e1aad38008efac5d203bb5e72893d6
Timestamp: Tue, 15 Sep 2020 23:13:09 +0000
Merkle

[2020-09-17 06:44] sdbondi opened #2237 "Initial mempool sync should only start if the blockchain is synced"
[code]

Additionally, we may want to put some rules and limits in place for max number of transaction synced, timeouts, and handling transaction validation failures.

[code]

[2020-09-17 06:55] stringhandler commented on #2237
Maybe there can be an unvalidated pool, and it syncs, but doesn't validate them until the block chain is synced? I think doing the two network requests can be done in parallel

[2020-09-17 08:16] sdbondi commented on #2237
The "problem" that led me to create this issue was that I had a peer with ~3000 + transactions in their mempool. The mempool sync is probably the most efficient protocol we have and was downloading and validating at the maximum rate (for the network connection, txn validation (debug)). This was using a ton of CPU and network just to put transactions in the published pool. I think your suggestion i

[2020-09-17 08:20] #2237 closed, assigned to nobody

[2020-09-17 12:12] SWvheerden opened #2240 "Duplicate syncing strategies"
We have more than one block sync strategy.
We need to converge them and move over to a single block sync strategy.

- It needs to validate the headers as they are downloaded to not download unnecessary data.
- We can also look at downloading the headers, then the body. Currently it downloads the headers then the block which has the header in it again.

[2020-09-17 12:14] SWvheerden opened #2241 "Potential BaseNode-wallet DOS"
As it currently stands the wallet as the potential to DOS the basenode with requests for fetch utxo etc.

We need to either rate limit these requests or something to only allow certain amount of requests per time, and or per wallet.

[2020-09-18 08:02] stringhandler opened #2244 "Windows 10 node not syncing"
Also. I take this opportunity to report the following: one of my nodes in Windows 10 is falling behind in sync for some reason.

Sometimes it catches up and starts mining. Other times it falls behind.
Version 0.5.4
Windows 10 on i7 9700, 16GB, 512GBSSD,
200/20 Mbps Internet
![image0](https://user-images.githubusercontent.com/4200336/93572366-06a35700-f996-11ea-8ecd-d8eb869a93a0.jpeg)

[2020-09-18 13:23] sdbondi opened #2247 "`find_orphan_chain_tips` in BlockchainDatabase is very inefficient"
`find_orphan_chain_tips` requires searching though all orphans recursively. This causes large reorgs (+1000 block) to take hours.

Additionally, it is likely possible to slow a node to a crawl by pushing many large orphan blocks to it. These dummy blocks do not need to be mined because the difficulty is not checked before adding into the orphan block pool.

[2020-09-18 13:24] sdbondi commented on #2244
Difficult to know without logs - but some nodes have experienced a massive reorg due to a network split. It appears that the orphan pool capacity (default: 720) is too small to handle this reorg. Putting `orphan_storage_capacity = 3000` (or some value larger than the reorg) into the `base_node.rincewind` section of the config may enable to sync to continue.

However the sync/reorg may take a long

[2020-09-21 15:15] delta1 commented on #2201
PR ready at #2230

[2020-09-22 08:15] hansieodendaal opened #2253 "Syncing after big reorg broken, dependent on size of orphan pool"
**Describe the bug**

The reorg strategy is making use of the orphan pool to perform a reorg. Syncing to the stronger chain after a reorg is not possible if the size of the orphan pool (set with `orphan_storage_capacity`) is not large enough to accommodate the size of the chain split. In normal operation, if the orphan pool is filled to capacity, oldest blocks will be discarded from the orphan poo

[2020-09-22 08:24] sdbondi commented on #2092
Closed by #2121 #2162 #2142

[2020-09-22 08:24] #2092 closed, assigned to sdbondi

[2020-09-22 10:35] #2201 closed, assigned to nobody

[2020-09-22 14:11] delta1 opened #2255 "get-block should also print the header hash"
`get-block` should also print the header hash, like `list-headers` does

[2020-09-23 12:00] delta1 commented on #2099
same for `search-kernel`

[2020-09-25 09:31] #1718 closed

[2020-09-25 09:35] delta1 commented on #1670
closed by #2193

[2020-09-25 09:35] #1670 closed

[2020-09-27 09:21] mmacedoeu commented on #1999
Got the same error today with ROARING_ARCH="x86-64" but on Ubuntu 18.04

[code]

[2020-09-28 06:56] delta1 commented on #1999
@mmacedoeu maybe this helps?

https://github.com/saulius/croaring-rs/issues/34#issuecomment-419623788

[2020-09-28 07:12] mmacedoeu commented on #1999
After that I got this:

`error: linker `/usr/bin/clang` not found`

Maybe the problem is which clang version it works

[2020-09-28 07:27] mmacedoeu commented on #1999
Got it to work, maybe I missed the mininum clang version is 8

[2020-09-29 06:52] #2255 closed, assigned to nobody

[2020-09-29 06:55] SWvheerden opened #2267 "Mempool transactions not updated"
When a base_node receives more than one block in a sync, it will not properly update the transaction in the mempool and this will result in a mempool with invalid transactions.

The problem comes from the fact that when a blocksync is completed a, blocksync event is fired to the mempool. This only includes the last block added. This should be every block added and not just the last block.

[2020-09-29 06:58] philipr-za opened #2268 "Improve revalidation of invalid and spent outputs in the wallet"
The wallet does three types of validation:
1. Validate Unspent outputs are still spendable
2. Revalidate outputs that have been marked as invalid by previous runs of 1.
3. Check that spent outputs have not become spendable again due to reorg (https://github.com/tari-project/tari/pull/2264)

Validation 1 needs to be done often but validations 2 and 3 are much less likely to be needed and as the wal

[2020-10-01 08:18] hansieodendaal opened #2274 "Remove ncurses dependency and pinpong example from code"
**Describe the bug**

A release build in Ubuntu on a clean installation needs `libncurses5-dev libncursesw5-dev` to be installed as dependencies, but the `README.md` does not state this.
The `pinpong` example that depends on `ncurses` has become unimportant for testing the network since testnet.
It was proposed that the `pinpong` example and `ncurses` dependency be removed from the codebase - see

[2020-10-02 13:52] hansieodendaal opened #2289 "Tokio runtime worker thread panic in unit test `wallet_base_node_integration_test `"
**Describe the bug**

Tokio runtime worker thread panic in unit test `wallet_base_node_integration_test `

[code]

**To Reproduce**

Run `cargo test --release --all-features --no-fail-fast`

**Expected behavior**

Tokio runtime worker thread should not panic

**Screenshots**

n/a

**Desktop (please complete the following information):**

Windows 10

**Smartphone (please complete the following info

[2020-10-05 07:42] hansieodendaal opened #2295 "Base node and base node wallet not communicating"
**Describe the bug**

The base node and its wallet (development branch commit `69380e0` of 2020/10/02) not communicating for many hours while other connections are working via Tor.

**To Reproduce**

Started a base node

**Expected behavior**

The base node and its wallet should not have problems connecting.

**Screenshots**

n/a

**Desktop (please complete the following information):**

Windows 1

[2020-10-05 10:56] hansieodendaal opened #2299 "78 coinbase kernels in block 110102"
**Describe the bug**

78 coinbase kernels are present in block 110102. A portion of the network accepted this block as valid.
block #110102 `8f8adc1d36a69b2961a00798ca46fecb5d7db1bf0b5f4e68ff0efffff30413c2`

**To Reproduce**

This is probably due to a reorg.

**Expected behavior**

Only one coinbase kernel should be accepted in a block.

**Screenshots**

n/a

**Desktop (please complete the followi

[2020-10-05 15:15] SWvheerden opened #2300 "Malformed blocks in the DB"
From what we can see is that it is possible to let the blocks be malformed somehow in the database.

From the example we have we saw the following:
[code]
**Note that each coinbase has its maturity increase by one.

Call get-block 110103
would result in an empty block, of 0 utxo and 0 kernels.

This is logged here for record keeping and until we get more information.

[2020-10-05 19:51] SWvheerden commented on #2300
This issue directly references : #2299

[2020-10-06 07:14] stringhandler opened #2303 "Add minor version to block header"

[2020-10-07 10:20] delta1 commented on #2181
closed by #2193

[2020-10-07 10:20] #2181 closed, assigned to nobody

[2020-10-07 10:25] delta1 commented on #2303
would the minor version also be specified in the consensus constants and added as a param when creating block headers?

[2020-10-07 10:51] sdbondi opened #2311 "Tracking issue: DNS seeds support for Tari applications"
Tracking issue for DNS seeds support for Tari applications.

## Tasks

- [x] Create resolver and parser for Tari seed peer DNS TXT entries (PR #2319)
- [ ] ~~tari_comms needs to be able to connect to a peer and obtain the public key given only the address~~
- [ ] DNS records and peers must be resolved on node / wallet startup (PR #2352)
- [ ] Comms integration (PR #2352)
- [ ] Allow DNS seeds to b

[2020-10-08 09:02] stringhandler opened #2315 "Investigate bundling sqlite with windows build"
The windows installer should include a redistributable sqlite DLL

[2020-10-09 08:06] hansieodendaal opened #2321 "Accumulated difficulty not checked if block already in database"
**Describe the bug**

Accumulated difficulty not checked if block already in database, so it will re-request a the faulty block every time from the same peer.

**To Reproduce**

n/a

**Expected behavior**

A node supplying a block with a faulty accumulated difficulty should be banned, even though it is in the database already.

**Screenshots**

n/a

**Desktop (please complete the following informa

[2020-10-09 12:50] stringhandler opened #2324 "[GRPC] Submit block should return a result"
The call to submit block via GRPC should return a result to say if the block was added as an orphan or added to the main chain. Currently it returns `Empty`. This makes testing via GRPC difficult

[2020-10-12 16:35] hansieodendaal opened #2331 "`Invalid coinbase in body` for certain blocks when syncing"
**Describe the bug**

Mismatch in calculation of coinbase commitment for blocks 89485, 89567, 93325, (possibly others as well) when syncing the blockchain. The base node runtime (release mode) calculates coinbase amount `5317.213814 T` for `Block #93325`, while the unit test (release mode) calculates coinbase amount `5317.213815 T` for `Block #93325`, all on the same physical computer.

_**Note:**

[2020-10-12 19:42] delta1 commented on #2315
possible lead: https://github.com/diesel-rs/diesel/issues/1860

[2020-10-13 07:37] SWvheerden commented on #2158
*NOTE, some of the above has already been addressed or fixed or just plain changed.

The biggest reason for removing the difficulties is that given a block header, we cannot validate the target difficulty  or the total achieved difficulty without looking at the chain of blocks in the database.

This should make it the header more efficient in terms of size, and might allow us to some optimisation

[2020-10-13 07:39] SWvheerden commented on #2247
I think the biggest culprit inside there is the iterator over the orphans. Iterating over 1000 items should not take seconds.

[2020-10-13 07:49] hansieodendaal opened #2332 "Orphan database search operations hugely inefficient for larger orphan databases"
**Describe the bug**

Improve the efficiency of `find_orphan_chain_tips -> for_each_orphan -> lmdb_for_each` as this wastes multiple seconds for each block to be added during sync if the orphan database has many entries.

The log entries below shows the time wasted for each block to be added during a fairly large block sync. This can happen if a base node is started up when it last synced a couple

[2020-10-13 07:55] sdbondi commented on #2247
@SWvheerden Each iteration has to deserialise an entire block, which involves [decompression for every public key](https://github.com/tari-project/tari-crypto/blob/7ee2dfb24595e8a858ddd3f2f8de15793fa466a2/src/ristretto/ristretto_keys.rs#L340) and [other operations](https://github.com/dalek-cryptography/curve25519-dalek/blob/master/src/scalar.rs#L210) per input/output/kernel.

I suspect there is no

[2020-10-13 07:58] hansieodendaal commented on #2247
Some stats:

The log entries below shows measured time for each block to be added during a fairly large block sync. This can happen if a base node is started up when it last synced a couple of days ago or if a large chain reorg is happening.
[code]

[2020-10-13 08:01] hansieodendaal commented on #2332
Duplicate of #2247

[2020-10-13 08:01] #2332 closed, assigned to nobody

[2020-10-14 06:17] SWvheerden commented on #2247
@sdbondi I think you are right. I dont think its necessary the iterator itself thats the problem. Its how we use the iterator. Looking into other databases etc, I think that function is too dependant on how LMDB works. I think we need to replace it with a call that only returns the previous block. Perhaps we should keep a reserve index inside LMDB like <previous block hash,(block hash, height)> ,

[2020-10-14 06:36] sdbondi commented on #2247
@SWvheerden I like the index idea. In postgres, you would speed up that query by adding an index. Maintaining the index should be no more difficult than the existing indexes we have and I'm confident that will speed things up greatly. Nice idea!

[2020-10-14 16:05] sdbondi commented on #2197
My (incomplete) proposal for the RPC-based archival block sync is detailed here:

Reading: https://developer.bitcoin.org/devguide/p2p_network.html#blocks-first

## Initial Phase - Selecting Sync Peers

We start with the assumption that the node is online in the Tari comms connectivity sense, roughly it has a few connections to other base nodes. We select all those connections and attempt to establ

[2020-10-15 06:09] hansieodendaal opened #2341 "Miner not restarted for a long time after failed reorg"
**Describe the bug**

A miner was started at #116480. It mined 2 blocks, but then paused the miner due to better metadata received data from an invalid chain at #117051. After the base node rejected those blocks and banned the evil peer, the miner is not turned on again. See time that elapsed between 12:16:44 where mining was stopped and 13:31:27 where it was started again.

Performing a quick ana

[2020-10-15 06:30] hansieodendaal opened #2342 "Base node crash with many repetitive large UTXO queries"
**Describe the bug**

Base node crash with many repetitive large UTXO queries.

Console error message (with full trace enabled):
[code]

**To Reproduce**

See UTXO queries in attached `base_layer.log`

**Expected behaviour**

The base node should not crash

**Screenshots**

n/a

**Desktop (please complete the following information):**

Windows 10

**Smartphone (please complete the following inform

[2020-10-16 07:00] SWvheerden opened #2344 "Security flaw, Horizon sync insecure"
We need to add kernel count to the header for Horizon sync for it to be secure. This needs to be checked after header download.

https://github.com/mimblewimble/grin/issues/1162

[2020-10-16 11:46] sdbondi commented on #2300
Just leaving a note here for future investigations:

I have a block with ~35000 coinbases, followed by blocks with no coinbases. This node was in pruned mode and then turned back to archival mode. This is likely because the index of the checkpoints doesnt map to block height after pruned sync and once pruned mode is turned off, the code can't deal with that. It would be easier if one could not tur

[2020-10-16 13:06] stringhandler opened #2346 "Tari console wallet flags section has options not available to it"
When I run `tari_console_wallet --help` I get some options that don't make sense:

e.g. `--clean-orphans-db`, `--rebuild-db`

[code]

[2020-10-16 14:08] delta1 commented on #2346
I believe the config is shared with the base node, and needs to be separated

[2020-10-17 15:26] github-actions[bot] opened #2349 "RUSTSEC-2020-0053: dirs is unmaintained, use dirs-next instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `dirs`                      |
| Version             | `2.0.2`                   |
| URL                 | [https://github.com/dirs-dev/dirs-rs](https://github.com/dirs-dev/dirs

[2020-10-20 13:11] delta1 commented on #2349
closed by #2350

[2020-10-20 13:11] #2349 closed, assigned to nobody

[2020-10-26 12:49] stringhandler opened #2385 "Tokio panic on v0.6"
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

When running 0.6

# To reproduce
- run `cargo run --release --bin tari_base_node` on v0.6

[2020-10-26 13:36] SWvheerden commented on #2385
#2387

[2020-10-26 15:27] stringhandler opened #2389 "Separate configs for wallet and base node"
When running the console wallet, it requires a number of base node config settings that are not relevant to the wallet. These should be removed

[2020-10-26 15:30] github-actions[bot] opened #2390 "RUSTSEC-2020-0057: crate has been renamed to `cipher`"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `block-cipher`                      |
| Version             | `0.7.1`                   |
| URL                 | [https://github.com/RustCrypto/traits/pull/337](https://github

[2020-10-27 07:50] delta1 commented on #2389
Fundamentally the same issue as #2346, or at least the same fix required

[2020-10-28 13:41] hansieodendaal opened #2401 "Transactions being invalidated and cancelled after base node restart"
**Describe the bug**

Currently, if a base node has multiple transactions in its mempool unconfirmed pool, with a wallet connected to it and relying on status updates, those transactions will be cancelled in the wallet if a request is sent to the base node and the transaction is no longer in the mempool after a base node restart, but before it is being mined. If mempool sync works as designed afte

[2020-10-28 15:03] #2390 closed, assigned to nobody

[2020-10-29 07:46] SWvheerden commented on #2401
I think a good look about this should be who is responsible for the tx getting into the blocks.
From my opinion I would say the wallet is the responsible party here. The Base_node it self does not really care about this individual tx.
We could potentially look at 2 ways here:
1: Wallet retransmits tx's
2: Wallet sends out tx to more than one base_node.

I believe  grin uses a combination of the tw

[2020-10-30 17:35] Tas4tari opened #2409 "Android Wallet: QA: Wallet transaction that was received cancelled on its own and then came through again"
**Describe the bug**
I'm currently testing the new aurora android build: b142 0.5.0 - libwallet - 0.16.9 for the Public release and noticed the following:
@kukabi had sent me a transaction which did come through and display with a status: "Completing final processing", however after a few minutes the transaction had cancelled on its own.
About 10 minutes later the exact same transaction had come t

[2020-10-30 17:46] Tas4tari opened #2410 "Android Wallet: QA: Wallet balance is incorrect and is actually more than it should be"
**Describe the bug**

- As I observe my wallet I find that the balance does not reflect correctly or match the transactions. As per the transactions listed, I should have 9434.56, however my balance currently reflects as: 11 234.56
- It appears the balance did not take into account the Tari that I had sent out (1800) and had left that included within the balance
- A force stop of the wallet via se

[2020-10-30 17:52] Tas4tari opened #2411 "User unable to send Tari"
**Describe the bug**
When trying send Coin, Wallet not send...
I bought one thing on store and the balance dont change.

**User**

**Expected behavior**
User should be able to send Tari

**Source**
Bug report email

**Device:**
Android

**Logs:**
[ffi_logs_984D2961BDAF279C773EE26E52B5176F6E6A82FE722603DD014213FF1932B603.zip](https://github.com/tari-project/tari/files/5466784/ffi_logs_984D2961BDAF2

[2020-11-04 08:18] StriderDM opened #2417 "Merge Mining Proxy - Does not return rejected requests to XMRig"
**Describe the bug**
The merge mining proxy does not return rejected submit_block requests to XMRig. This is a regression.

This can be seen from the following line in the output:
[code]

What is happening is that XMRig is stopping mining and then restarting mining instead continuing with it's statistics being updated with the failed submit_block request:
[code]

**To Reproduce**
Steps to reproduc

[2020-11-04 09:13] hansieodendaal opened #2418 "Tari merged mined blocks only seldomly being submitted to the Tari blockchain"
**Describe the bug**

1. Tari merged mined blocks are only seldomly being submitted to the Tari blockchain.

    In a merge mining test that lasted for 1 hour and 50 minutes, with the Tari difficulty ranging between 30.3% to 23.9% of
    the Monero difficulty, 72 blocks were submitted to the Monero stagenet blockchain, while only 17 blocks were
    submitted to the Tari Ridcully testnet blockchain

[2020-11-10 12:52] delta1 opened #2426 "list-headers n lists n+1 headers"
**Describe the bug**
Using `list-headers 1` shows 2 headers

**To Reproduce**
Steps to reproduce the behavior:
1. run tari base node
2. run command `list-headers 1`
3. output is last 2 headers instead of last 1

**Expected behavior**
Running `list-headers [n]` should only show *n* headers

**current output example**

[code]

**Desktop (please complete the following information):**
 - OS & Version:

[2020-11-10 21:33] StriderDM commented on #2417
Closing issue.

[2020-11-10 21:33] #2417 closed, assigned to nobody

[2020-11-10 21:33] StriderDM commented on #2418
@hansieodendaal  Think this issue can be closed.

[2020-11-11 05:54] sdbondi commented on #2426
I've assigned myself, since I had to fix this to check headers in the upcoming block sync PR. Will reference this issue when that is ready to PR (ref #2428)

[2020-11-11 06:15] sdbondi opened #2428 "Fast "header-first" block sync"
Tracking issue for fast block sync.

Fast block sync will attempt to establish the strongest PoW chain by checking where a local chain and a remote peer's chain are linked and downloading headers from that point to the tip. Once headers are validated and downloaded, an archival node proceeds to block sync where full block bodies are downloaded.

- [x] Base node sync RPC service (PR #2348)
- [ ] Va

[2020-11-11 07:11] delta1 commented on #2426
nice one @sdbondi 👍

[2020-11-11 07:13] delta1 commented on #2418
nice one! fixed by #2425

[2020-11-11 07:13] #2418 closed, assigned to nobody

[2020-11-16 07:51] Tas4tari opened #2432 "Wallet Balance inconsistent and did not receive funds from user"
**Describe the bug**
Public Key:
A2E95E6CC9603B1D371D5F303FB2970B13832973F582C39D5B87FDA391E2D63A

Emoji Id:
👠😹🎽🐉📎🎿🍺🍌🍶🍌🎾🍬🎂💍👓🌰🍀🐭🍟🐓🚜🐬💺👙🎺🐲🚽👡🐽😇🔦🍹🏥

First a user informed me that they sent me funds, that was never observed by my wallet. Second, I noticed that my balance was reduced to the original 5k from testnet bot and my send tx to testnet bot as well as the second receive tx from testnet bot are no

[2020-11-17 16:21] Tas4tari opened #2437 "User tried sending Tari but was unable to"
**Describe the bug**
I'm trying send tXTR but did not send

**Expected behavior**
User should be able to successfully send tXTR

**Device:**
Android

**Date received:**
13 November 2020

**User:**
Bendito Silva

**Platform:**
Telegram Tari Channel

**Logs**
[ffi_logs_D29AC867B0D1B626C903678800AAF2C3F1D8B6A8138534D7FED6CC16CB45032E.zip](https://github.com/tari-project/tari/files/5554726/ffi_logs_D2

[2020-11-18 13:48] #2311 closed, assigned to nobody

[2020-11-19 10:21] hansieodendaal opened #2442 "Monero POW repetitive difficulty calculation during block validation, slow block add (#6651)"
**Describe the bug**

Tested with commit `435c335`.

While validation a merge mined block, Monero POW calls to `pub fn monero_difficulty(header: &BlockHeader)` are being done repetitively for the same block and also interferes with the next block's validation. This is evident in the debug logs messages `[c::pow::monero_rx] DEBUG Deserialized Monero data` and `[c::pow::monero_rx] DEBUG RandomX inpu

[2020-11-19 12:28] hansieodendaal opened #2443 "Console wallet not allowing coinbase UTXOs to be spent"
**Describe the bug**

Only one transfer of all initial coinbase transactions that were successfully detected a mined on the base layer was allowed. After a restart and after more successful mining, consecutive transfer transactions were not allowed, even with multiple restarts.
(_Tested with build `435c335`_)

**To Reproduce**

- Perform merge mining and collect mined coinbase transactions in the

[2020-11-19 13:51] delta1 commented on #2443
Very interesting - do you have the wallet logs please? Did this only happen with coinbase UTXOs or all?

[2020-11-19 14:37] hansieodendaal commented on #2443
Unfortunately not, but it is easy to make new logs

[2020-11-19 14:46] delta1 commented on #2443
Will try it out

[2020-11-19 14:51] hansieodendaal commented on #2443
Also a problem with calculating balances. When copying the console wallet to a base node wallet:
[code]

[2020-11-19 15:49] delta1 commented on #2437
Resolved earlier this week on telegram

![62EF240E-F65C-407B-80DF-67B0F9544F5B](https://user-images.githubusercontent.com/351403/99689313-84b3d500-2a8f-11eb-8f2c-9a52a8a5ba3e.jpeg)

[2020-11-19 15:49] #2437 closed, assigned to nobody

[2020-11-20 08:49] hansieodendaal commented on #2443
Uploaded ^^

[2020-11-26 12:38] #2443 closed, assigned to nobody

[2020-12-07 06:04] Tas4tari opened #2479 "User receives Network error when trying to send Tari"
**Description:**

Getting this error when trying to send 1 tari to bot.

**Device Information:**
Network: ridcully
Phone: iPhone 11
iOS: 14.1
App version: 0.5.1
App build: 155
App environment: production
Reachability: WiFi ✅
Base node (Custom): Pending first sync ⌛
Tor ports: Open ✅
Tor status: Connected ✅
Tor bootstrap progress: 100%

**Logs:**
[2020-12-07_03-36-23-bug-report.zip](https://github.

[2020-12-09 15:01] #2428 closed, assigned to nobody

[2020-12-22 07:59] delta1 commented on #1882
Resolved in tokio-rs/tokio#2893 when we are ready to update our tokio dep

[2021-01-06 13:41] delta1 opened #2515 "dyld: Library not loaded (openssl)"
`dyld: Library not loaded: /usr/local/opt/openssl@1.1/lib/libssl.1.1.dylib`

Replicated this issue by uninstalling openssl and trying to run a base node binary. (`brew uninstall --ignore-dependencies openssl`)

Resolved by reinstalling openssl - `brew reinstall openssl@1.1`

[2021-01-09 15:41] github-actions[bot] opened #2520 "RUSTSEC-2020-0025: bigint is unmaintained, use uint instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `bigint`                      |
| Version             | `4.4.3`                   |
| URL                 | [https://github.com/paritytech/bigint/commit/7e71521a61b009afc94c911

[2021-01-11 07:08] delta1 commented on #2520
closing for PR #2521

[2021-01-15 14:23] stringhandler commented on #2344
Addressed in #2516

[2021-01-15 14:24] stringhandler commented on #2299
Fixed with Ridcully testnet reset

[2021-01-15 14:24] #2299 closed, assigned to nobody

[2021-01-20 15:52] github-actions[bot] opened #2546 "RUSTSEC-2020-0100: Double free when calling `sys_info::disk_info` from multiple threads"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `sys-info`                      |
| Version             | `0.5.6`                   |
| URL                 | [https://github.com/FillZpp/sys-info-rs/issues/63](https://github.com/FillZpp/sys-info-rs/issues/63) |
| Date

[2021-01-20 18:39] delta1 commented on #2546
Closing for PR #2548

[2021-01-20 18:39] #2546 closed, assigned to nobody

[2021-01-23 12:41] artfulplonker opened #2552 "QR code not completely visible in console wallet."
When using the console wallet as normal the QR code is cropped out of the page.

This occurs for me even at full screen. The only way to view it in full is by zooming out.

My laptop has a resolution of 1366x768
OS: Ubuntu 20..04.1

![signal-2021-01-23-123728](https://user-images.githubusercontent.com/77884629/105578399-cb67c900-5d77-11eb-968c-6a1cbcf0ceec.jpeg)

[2021-01-24 08:55] delta1 commented on #2552
Hey @artfulplonker ! Thanks for the report - looks like the wallet is expecting a larger vertical height to fit this in.. we'll take a look at solutions to this

I'll comment here again once we've got a plan/fix

Cheers!

[2021-01-24 14:38] artfulplonker commented on #2552
You're welcome.
I know it's nothing major, but I thought it might help in some way.

[2021-01-24 16:04] artfulplonker commented on #2552
looking again, it seems like I have a similar problem with 'connected peers' on the Network tab.
I am unable to scroll to view them, the only way is by zooming out.
Is it possible that this is a problem with the way my terminal is set up, rather than an issue with the wallet?

FYI, I am using gnome version 3.36.2

[2021-01-25 07:06] delta1 commented on #2552
Maybe there's some kind of zoom options in your OS/DE settings?

[2021-01-26 17:52] artfulplonker commented on #2552
There are zoom settings in the gnome terminal and I am able to view the whole qr code if i zoom out. It's just a bit inconvenient and the text gets rather small.

![Screenshot from 2021-01-26 17-49-19](https://user-images.githubusercontent.com/77884629/105883644-fd3e9100-5ffe-11eb-9c71-46968c308ea1.png)

[2021-01-27 07:07] delta1 commented on #2552
Thanks for that feedback @artfulplonker will let you know how it goes!

[2021-01-28 18:28] jont4 opened #2579 "Compile error when try to compile tari_comms"
**Describe the bug**
When trying to compile tari_comms, tari_app_grpc, tari_core and maybe other related, I got the following error:

tari_comms v0.8.0 (/root/tari/comms)                                     Caused by: process didn't exit successfully:
`/root/tari/target/release/build/tari_comms-72d5d76e61bf6005/build-script-build` (exit code: 101)
--- stderr
thread 'main' panicked at 'status: exit

[2021-01-28 19:27] artfulplonker opened #2580 "Transactions cancelled almost immediately"
Tried sending a few transactions from the base_node. Log attached.

Can someone help me understand what is going on?

[error.log](https://github.com/tari-project/tari/files/5889591/error.log)

[2021-01-29 07:11] delta1 commented on #2580
hey @artfulplonker , are you running v0.8 base node? And are you trying to send to an Aurora wallet? If so, Aurora is still being updated on ios/android and won't be able to accept funds from the new `stibbons` testnet yet

[2021-01-29 07:17] delta1 commented on #2580
Apologies, just spotted this in your log:

[code]

I take it you mined some Tari and then tried to spend it? [Coinbase/mined outputs are now timelocked for 60 blocks](https://github.com/tari-project/tari/pull/2555/files) before they can be spent (approx 2 hours). This information still needs to be shown in the wallet UI and we're working on a few issues where those outputs should not be selected f

[2021-01-29 07:20] artfulplonker commented on #2580
That's exactly right. I was sending it to a console wallet after updating to the newest version.

Glad to know there's no bug, thanks for the info :) +1:

[2021-01-29 07:20] delta1 commented on #2580
Thank you for reporting and providing logs!

[2021-01-29 07:21] delta1 commented on #2580
I'd like to reopen the issue until we've investigated and present this information better if that's okay!

[2021-01-29 07:22] artfulplonker commented on #2580
Sure :) let me know if I can help

edit: interesting to see that the console wallet still considers it pending income, even though there are no active transactions in the base node.

[2021-01-29 07:32] delta1 commented on #2579
Hey @jontaix, thanks for reporting! From what I can find, this seems to be a file permissions issue ([link](https://stackoverflow.com/questions/10937806/oserror-error-1-operation-not-permitted))

`profobuf_build.rs` is trying to a write a file and doesn't have permissions to do so, please can you check the permissions on all files and folders in your source code folder?

You can use `chown` to set

[2021-01-29 08:08] #1009 closed

[2021-01-29 10:02] sdbondi commented on #2579
@jontaix During build, code is generated from protobuf files and written to the file system. It appears that your environment does not have write permissions.

[2021-01-29 13:55] jont4 commented on #2579
Thanks for reply.
I checked several times the permissions and ownership in the tari folder, and seem to be ok, all root:root with permissions to write.

[2021-01-29 14:11] delta1 commented on #2579
Could you try with the latest code please

[2021-01-29 14:29] jont4 commented on #2579
I tried, same error.

[2021-01-29 14:30] sdbondi commented on #2579
@jontaix The part that's failing runs `cargo fmt` - could you try running `cargo fmt --all` in your terminal?

If that works, try applying this patch to the code
[disable_fmt.patch.txt](https://github.com/tari-project/tari/files/5894349/disable_fmt.patch.txt)

[2021-01-29 17:50] jont4 commented on #2579
@sdbondi I tried
`root@localhost:~/tari# cargo fmt --all
Operation not permitted (os error 1)`
and got this error.

So I applied the patch anyway and got this error:
[code]

[2021-01-31 11:35] sdbondi commented on #2579
@jontaix Fixed the mistake in the patch file (whoops)

[disable_fmt.patch.txt](https://github.com/tari-project/tari/files/5899602/disable_fmt.patch.txt)

The patch essentially skips running `cargo fmt` for all builds. You may want to look at why your setup
does not allow cargo fmt to be run.

EDIT: I'm going to turn off rustfmt on build by default because the reason we needed to run rustfmt on bui

[2021-02-01 20:01] jont4 commented on #2579
@sdbondi Thanks. No errors now.

[2021-02-01 20:01] #2579 closed, assigned to nobody

[2021-02-02 08:03] delta1 commented on #1606
Looks like this has been resolved with updated deps. [audit-check](https://github.com/tari-project/tari/runs/1807752589?check_suite_focus=true) no longer mentions it and I don't see `term` or `prettytable` anywhere in `cargo tree` output 👍

[2021-02-02 08:03] #1606 closed

[2021-02-02 08:06] delta1 commented on #1413
Looks like this has been resolved with updated deps. audit-check no longer mentions it and I don't see it in cargo tree output.

[2021-02-02 08:06] #1413 closed

[2021-02-02 08:34] delta1 commented on #2520
closing again for #2600

[2021-02-02 08:34] #2520 closed, assigned to nobody

[2021-02-02 18:56] jont4 opened #2606 "Build failed when compiling randomx-rs v0.5.0"
**Describe the bug**

When compiling randomx-rs v0.5.0 this error happened:

``error: failed to run custom build command for randomx-rs v0.5.0 Caused by: process didn't exit successfully: /root/tari/target/release/build/randomx-rs-95b390e1c0f11a64/build-script-build (exit code: 101)
--- stderr
thread main panicked at failed to execute CMake: Os { code: 2, kind: NotFound, message: "No such file or

[2021-02-03 12:18] delta1 commented on #2606
You don't have [cmake](https://cmake.org) installed.

Please see the build prerequisites: https://github.com/tari-project/tari#ubuntu-1804-including-wsl-2-on-windows

[2021-02-03 13:34] stringhandler commented on #2606
I think this could be a different issue. AFAIK this did compile previously?

[2021-02-03 14:11] jont4 commented on #2606
@mikethetike all prerequisites was installed. And yes, I previously builded.

Edit: Sorry my mistake. I just check and CMake was not installed, I don't know why it was uninstalled. Sorry for taking your time.

[2021-02-03 14:16] #2606 closed, assigned to nobody

[2021-02-03 16:04] delta1 commented on #2606
No worries @jontaix !

[2021-02-04 07:22] SWvheerden commented on #2552
@artfulplonker

This PR will should allow you to view the QR. It will be great if you can test it.

[2021-02-04 23:44] jont4 commented on #2580
The same happened with a tx I sent from base_node to aurora's wallet. The utxos were mature. The tx was automatically displayed as canceled in Aurora. Minutes after an identical to canceled tx appeared as "waiting for sender to complete transaction" and does not change status. The taris I sent don't appear in the wallet. Disappeared. The base_node shows as a complete transaction.

Aurora:
![202102

[2021-02-05 07:00] delta1 commented on #2580
Which Aurora version are you on?

[2021-02-05 07:26] delta1 commented on #2552
hey @artfulplonker, #2610 was merged so if you're building from source you could test it again. Otherwise there should be a release shortly! Thanks again

[2021-02-05 07:26] #2552 closed, assigned to nobody

[2021-02-05 08:30] SWvheerden opened #2617 "Block validator code is duplicated"
There are 3 block validator identities:
`OrphanBlockValidator` which is used to perform stateless validation like balance, coinbase etc.
`PostOrphanBodyValidation` which is used to perform stateless validation like is utxo unspent etc.
`BlockValidator` which is used by the header sync to validate everything.

While the three identities are fine, they call sub functions to perform checks like:
Is t

[2021-02-05 12:24] jont4 commented on #2580
0.6.0-libwallet-0.16.17 b149

[2021-02-05 12:41] delta1 commented on #2580
Thanks, could you please try to reproduce and then send logs?

[2021-02-05 12:49] sdbondi opened #2620 "API extensions for Tari merge mining proxy"
## [get_block_header_by_hash](https://www.getmonero.org/resources/developer-guides/daemon-rpc.html#get_block_header_by_hash)

**Purpose of call in nodejs-pool**

Called to check the block still exists (i.e. has not been reorged out) and that other details (such as achieved difficulty, block reward) match.

**Current Proxy Behaviour**
No transformations, proxies "as is"

**Proposed behaviour**
Add

[2021-02-05 13:33] leet4tari commented on #2515
My problem is not that the dylib can't be found, but that it is unsigned
[code]
Re-installing openssl did not change the error.

Code signing the openssl libs solved this problem
[code]
Could also disabled code signing verification, but I don't think that is an option. I will have to test a clean install of OSX and see if it's just me.

[2021-02-05 15:05] delta1 commented on #2515
Awesome thanks @leet4tari

[2021-02-05 15:14] artfulplonker commented on #2552
you're welcome, i'll check the new release when it is available, thanks

[2021-02-06 04:10] jont4 commented on #2580
Aurora and base_node logs:

[ffi_logs_20ADF66D691DE0304BF0A8CEDCB379B43B0D71C2282C077CF5EE0C6442FD6121.zip](https://github.com/tari-project/tari/files/5936228/ffi_logs_20ADF66D691DE0304BF0A8CEDCB379B43B0D71C2282C077CF5EE0C6442FD6121.zip)

[base_node.log](https://github.com/tari-project/tari/files/5936229/base_node.log)

[2021-02-07 13:06] delta1 opened #2621 "`generate_wallet_test_data` is failing"
#2590 broke some tests, specifically breaking the `generate_wallet_test_data` function which is used in a number of wallet and FFI tests @SWvheerden

to reproduce: `cargo test test_data_generation`

file `base_layer/wallet/tests/wallet/mod.rs` [line 688 ](https://github.com/tari-project/tari/blob/development/base_layer/wallet/tests/wallet/mod.rs#L688)

[2021-02-07 21:14] SWvheerden commented on #2621
PR #2613 fixes this

[2021-02-07 21:15] SWvheerden opened #2622 "Wallet reporting not enough funds"
From the console output when trying to send a transaction

[code]

From looking at my wallet, there should be enough funds to process that transaction.

[2021-02-08 06:50] delta1 commented on #2621
Thanks @SWvheerden will take a look

[2021-02-08 06:50] #2621 closed, assigned to nobody

[2021-02-08 07:30] SWvheerden commented on #2622
@hansieodendaal @philipr-za

I dont know if any of you have seen this before and can comment as to why this could be happening.

[2021-02-08 07:33] philipr-za commented on #2622
I have not seen this in all my testing I did on friday. What branch are you running because I would posit it has to do with your latest update to UTXO selection.

What do the logs say?

[2021-02-08 07:35] SWvheerden commented on #2622
that might be it

[2021-02-08 14:39] hansieodendaal commented on #2622
Have not seen this before either

[2021-02-09 05:31] #2622 closed, assigned to nobody

[2021-02-10 09:17] SWvheerden opened #2633 "Header sync new_target_difficulty class does not refresh constants"
The new_target_difficulty class  during header sync only takes in the constants at the height it is created. This is never refreshed if the data is updated by new constants on a newer height.

For example we changed the target time. This means the calculated target difficulties can be incorrectly saved.

[2021-02-10 15:49] #2426 closed, assigned to sdbondi

[2021-02-12 14:59] jont4 opened #2642 "Error while syncing horizon states"
**Describe the bug**

I'm getting this error msg continuously while syncing:

`[c::bn::state_machine_service::states::horizon_state_sync] WARN  Error during sync:Final state validation failed: Final state validation failed: The UTXO set did not balance with the expected emission at height 2157`

**To Reproduce**
Sync from scratch using prune_horizon = 1000.
base_node version: 0.8.2-84fa05a-release

[2021-02-13 12:05] delta1 commented on #2642
Thanks @jontaix - what is your `pruning_horizon` set to in `config.toml` ?

If you want to remove that line from your config, you can then delete the stibbons folder and resync running a full archival node and won't have this issue (while we fix it)

[2021-02-13 14:34] jont4 commented on #2642
1000

Okay, I've already done that. Thanks

[2021-02-15 07:22] #994 closed

[2021-02-15 11:12] delta1 commented on #2295
can this be closed @hansieodendaal ?

[2021-02-15 11:13] delta1 commented on #2300
can this be closed @SWvheerden @sdbondi  ?

[2021-02-15 11:14] SWvheerden commented on #2300
I think this. can be closed
In the mean time we reimplemented prune mode. So I dont think this is relevant anymore.

[2021-02-15 11:14] #2300 closed, assigned to nobody

[2021-02-15 11:14] delta1 commented on #2240
Closing since sync was overhauled

[2021-02-15 11:14] #2240 closed, assigned to nobody

[2021-02-15 11:14] sdbondi commented on #2300
@SWvheerden @delta1 If memory serves this issue was fixed

[2021-02-15 11:34] hansieodendaal commented on #2295
I do not think we have fixed the issue, but this functionality (base node with base node wallet) will be deprecated soon.

[2021-02-21 09:49] xuxucode commented on #2515
@leet4tari I faced same issue, how to fix that?
I have no Apple Developer Account and Self-Signed certificate dose not work

[2021-02-22 07:12] leet4tari commented on #2515
@xuxucode I currently don't know of a quick fix that does not have security concerns. We are investigating other options and will post updates here.

[2021-02-22 09:20] #1766 closed

[2021-02-23 19:03] futurepr0n commented on #2515
I have the same issue - I don't have a developer account (paid), is there a way to disable the check on the file?

[2021-02-23 20:37] delta1 commented on #2515
Is it not possible with the free developer account? (sign in with apple id)

https://developer.apple.com/support/compare-memberships/

[2021-02-24 07:47] delta1 commented on #2515
We are looking for a better way to solve this issue. Reopened.

[2021-03-01 09:25] #2233 closed, assigned to nobody

[2021-03-01 15:34] github-actions[bot] opened #2714 "RUSTSEC-2020-0146: arr! macro erases lifetimes"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `generic-array`                      |
| Version             | `0.12.3`                   |
| URL                 | [https://github.com/fizyk20/generic-array/issues/98](https://github.com/fizyk20/generic-array/issues/98) |
| Date

[2021-03-02 08:18] #151 closed

[2021-03-02 08:18] #152 closed

[2021-03-02 08:19] #172 closed

[2021-03-02 08:20] #324 closed

[2021-03-02 08:21] #369 closed

[2021-03-02 08:21] #375 closed

[2021-03-02 08:21] #387 closed

[2021-03-02 08:22] #579 closed

[2021-03-02 08:23] #698 closed

[2021-03-02 08:23] #740 closed

[2021-03-02 08:23] #771 closed

[2021-03-02 08:23] #772 closed

[2021-03-02 08:23] #802 closed

[2021-03-02 08:24] #812 closed

[2021-03-02 08:27] stringhandler commented on #944
Closing for not enough info

[2021-03-02 08:27] #944 closed

[2021-03-02 08:27] stringhandler commented on #996
Needs more info

[2021-03-02 08:28] stringhandler commented on #1078
@sdbondi Can we close this?

[2021-03-02 08:28] sdbondi commented on #1078
@mikethetike Yup, PR was merged :)

[2021-03-02 08:28] #1078 closed

[2021-03-02 08:29] #1125 closed

[2021-03-02 08:29] #1126 closed

[2021-03-02 08:29] #1127 closed

[2021-03-02 08:29] #1128 closed

[2021-03-02 08:30] stringhandler commented on #1142
I think it's actually fine in lmdb, is there still a need for this?

[2021-03-02 08:30] #1142 closed

[2021-03-02 08:31] stringhandler commented on #1165
This can be opened in the iOS repo if it's still needed

[2021-03-02 08:31] #1165 closed

[2021-03-02 08:31] #1166 closed

[2021-03-02 08:31] #1277 closed

[2021-03-02 08:32] #1305 closed

[2021-03-02 08:32] #1278 closed

[2021-03-02 08:33] stringhandler commented on #1327
Closing due to staleness

[2021-03-02 08:33] #1327 closed

[2021-03-02 08:33] stringhandler commented on #1337
Closing due to staleness

[2021-03-02 08:33] #1337 closed

[2021-03-02 08:33] #1378 closed

[2021-03-02 08:34] stringhandler commented on #1429
I think this can be closed?

[2021-03-02 08:35] #1475 closed

[2021-03-02 08:36] #1495 closed

[2021-03-02 08:36] stringhandler commented on #1498
Needs more info

[2021-03-02 08:36] #1498 closed

[2021-03-02 08:37] stringhandler commented on #1507
Is there a real case for this?

[2021-03-02 08:37] #1507 closed

[2021-03-02 08:37] #1512 closed

[2021-03-02 08:38] #1571 closed

[2021-03-02 08:39] delta1 commented on #1429
Yeah quay has a trigger set up.

[2021-03-02 08:39] #1429 closed

[2021-03-02 08:39] #1580 closed

[2021-03-02 08:41] #1660 closed

[2021-03-02 08:42] #1659 closed

[2021-03-02 08:42] #1741 closed

[2021-03-02 08:43] #1673 closed

[2021-03-02 08:44] #1744 closed

[2021-03-02 08:44] #1786 closed

[2021-03-02 08:45] #1788 closed

[2021-03-02 08:45] #1805 closed, assigned to nobody

[2021-03-02 08:46] #1806 closed, assigned to nobody

[2021-03-02 08:46] #1821 closed, assigned to nobody

[2021-03-02 08:46] #1867 closed, assigned to nobody

[2021-03-02 08:47] #1868 closed, assigned to nobody

[2021-03-02 08:47] #1869 closed, assigned to nobody

[2021-03-02 08:47] #1870 closed, assigned to nobody

[2021-03-02 08:47] #1871 closed, assigned to nobody

[2021-03-02 08:48] #1902 closed, assigned to nobody

[2021-03-02 08:48] #1904 closed, assigned to nobody

[2021-03-02 08:48] #1909 closed, assigned to nobody

[2021-03-02 08:49] #1910 closed, assigned to nobody

[2021-03-02 08:52] #1916 closed, assigned to nobody

[2021-03-02 08:52] #1972 closed, assigned to nobody

[2021-03-02 08:53] #1975 closed, assigned to nobody

[2021-03-02 08:53] stringhandler commented on #1990
Stale due to new DB structure

[2021-03-02 08:53] #1990 closed, assigned to sdbondi

[2021-03-02 08:54] stringhandler commented on #1991
I think the new DB structure fixes this. Can reopen if that's not the case

[2021-03-02 08:54] #1991 closed, assigned to sdbondi

[2021-03-02 08:54] #2005 closed, assigned to nobody

[2021-03-02 08:54] stringhandler commented on #2025
Closed in v0.8.5

[2021-03-02 08:54] #2025 closed, assigned to nobody

[2021-03-02 08:55] #2040 closed, assigned to nobody

[2021-03-02 08:55] #2062 closed, assigned to nobody

[2021-03-02 08:55] #2063 closed, assigned to nobody

[2021-03-02 08:55] #2064 closed, assigned to nobody

[2021-03-02 08:55] #2065 closed, assigned to nobody

[2021-03-02 08:56] #2068 closed, assigned to nobody

[2021-03-02 08:56] stringhandler commented on #2080
@sdbondi is this still a concern?

[2021-03-02 08:57] #2093 closed, assigned to nobody

[2021-03-02 08:57] #2069 closed, assigned to nobody

[2021-03-02 08:57] #2099 closed, assigned to nobody

[2021-03-02 08:57] #2100 closed, assigned to sdbondi

[2021-03-02 08:57] #2113 closed, assigned to nobody

[2021-03-02 08:58] #2110 closed, assigned to nobody

[2021-03-02 08:58] #2108 closed, assigned to nobody

[2021-03-02 08:59] stringhandler commented on #2153
This has been implemented

[2021-03-02 08:59] #2153 closed, assigned to nobody

[2021-03-02 08:59] #2164 closed, assigned to nobody

[2021-03-02 09:00] #2158 closed, assigned to nobody

[2021-03-02 09:24] delta1 commented on #2714
Tracked this down to tari-crypto dep on blake2 > crypto-mac > generic-array

Will make an issue in tari-crypto

cargo tree
[code]

[2021-03-02 16:00] mbrubeck commented on #2714
A patched version `generic-array` 0.12.4 is now available, so you can fix this without any changes to `tari_crypto`, by running:

`cargo update -p generic-array:0.12.3`

[2021-03-02 16:04] delta1 commented on #2714
Thanks @mbrubeck will give that a shot

[2021-03-09 08:59] stringhandler commented on #1965
Closing due to staleness

[2021-03-09 08:59] #1965 closed, assigned to philipr-za

[2021-03-09 08:59] #1976 closed, assigned to nobody

[2021-03-09 08:59] #2060 closed, assigned to philipr-za

[2021-03-09 09:00] #2122 closed, assigned to nobody

[2021-03-09 09:00] stringhandler commented on #2159
@philipr-za can this be closed?

[2021-03-09 09:00] #2165 closed, assigned to nobody

[2021-03-09 09:02] #2180 closed, assigned to nobody

[2021-03-09 09:04] #2192 closed, assigned to nobody

[2021-03-09 09:04] #2195 closed, assigned to nobody

[2021-03-09 09:04] #2197 closed, assigned to nobody

[2021-03-09 09:05] #2198 closed, assigned to nobody

[2021-03-09 09:05] #2204 closed, assigned to nobody

[2021-03-09 09:06] #2208 closed, assigned to nobody

[2021-03-09 09:06] #2222 closed, assigned to nobody

[2021-03-09 09:06] #2225 closed, assigned to nobody

[2021-03-09 09:06] #2235 closed, assigned to nobody

[2021-03-09 09:07] #2241 closed, assigned to nobody

[2021-03-09 09:07] #2244 closed, assigned to nobody

[2021-03-09 09:07] stringhandler commented on #2247
This implementation has been rewritten

[2021-03-09 09:07] #2247 closed, assigned to nobody

[2021-03-09 09:07] #2267 closed, assigned to nobody

[2021-03-09 09:09] #2295 closed, assigned to nobody

[2021-03-09 09:09] #2303 closed, assigned to nobody

[2021-03-09 09:10] #2324 closed, assigned to nobody

[2021-03-09 09:10] #2331 closed, assigned to nobody

[2021-03-09 09:10] #2341 closed, assigned to nobody

[2021-03-09 09:10] #2344 closed, assigned to nobody

[2021-03-09 09:11] #2385 closed, assigned to nobody

[2021-03-09 09:12] #2409 closed, assigned to nobody

[2021-03-09 09:12] #2410 closed, assigned to nobody

[2021-03-09 09:12] #2411 closed, assigned to nobody

[2021-03-09 09:13] #2432 closed, assigned to nobody

[2021-03-09 09:20] stringhandler commented on #2642
Should be fixed in  #2677

[2021-03-09 09:20] #2642 closed, assigned to nobody

[2021-03-09 09:23] #2274 closed, assigned to nobody

[2021-03-09 09:24] hansieodendaal commented on #2321
Not checked, closing to start a new list of issues. This may pop up again.

[2021-03-09 09:24] #2321 closed, assigned to nobody

[2021-03-09 09:25] hansieodendaal commented on #2401
Startup and transaction protocol logic has been reworked since

[2021-03-09 09:25] #2401 closed, assigned to nobody

[2021-03-09 09:36] hansieodendaal commented on #2289
No `thread 'tokio-runtime-worker' panicked` anymore

[2021-03-09 09:36] #2289 closed, assigned to nobody

[2021-03-13 15:59] Donneur2lumiere opened #2750 "error compiling in 20.04"
Hello
Waiting  for compile in 20.04  take a beer but suddenly compiling stuck and leave
"error: could not compile unsigned-varint"

Now my beer is hot, what a shame

[2021-03-13 16:35] delta1 commented on #2750
Please could you post the error log

[2021-03-16 09:33] Donneur2lumiere commented on #2750
Did you update the repo ?
Friday i reproduce the crash twice, but forget to save the log. This morning i run a another build with absolutely same command and .... Miracle happens

Sorry for lost of your time you can close with comment :+1: /Dev use his magical power for resolve the bug
Thank for response Have a nice day

[2021-03-16 10:44] delta1 commented on #2750
Hey @Donneur2lumiere! There were some updates, but nothing specific for this issue. Glad to hear it's working - thanks for getting involved! Let us know if you have any questions 😃

[2021-03-16 10:44] #2750 closed, assigned to nobody

[2021-03-18 00:20] ghost opened #2766 "[Thanks for making Tari better] I hope you can see everything on the pic"
![Screenshot_20210318_011702_com tari android wallet](https://user-images.githubusercontent.com/75277623/111555106-fa068c80-8787-11eb-8748-32393a8f68e0.jpg)

0.6.2

[2021-03-18 07:02] delta1 commented on #2766
Thanks for testing the Aurora app!

@kukabi should that copy say "write these **24** words in order (**of their number**)" instead?

[2021-03-18 07:05] kukabi commented on #2766
Thanks @offordelete. Yes @delta1, will fix 👍🏼

[2021-03-18 07:11] delta1 commented on #2766
Nice! Thanks @offordelete let us know if you have any more feedback 🙏

[2021-03-18 07:11] #2766 closed, assigned to nobody

[2021-03-19 12:58] stringhandler opened #2770 "When a node has been running at the tip for a long time, it calculates TargetDifficulty for blocks differently to a newly synced node"
Steps to reproduce:
1. Sync a node to tip
2. Leave it for a few days
3. Sync a new node from scratch
4. Run `list-headers 1`

Expected:
Target difficulty matches on both nodes

Actual:
Node that has been running for a few days has a higher target difficulty than newly synced node.

This problem usually present when a block that has an achieved difficulty is close to the target difficulty, resultin

[2021-03-19 13:04] SWvheerden commented on #2770
"Period-stats [start height] [end height]" should print this out in a csv, so excel can be used to compare the results

[2021-03-19 15:09] cczufish opened #2772 "dyld: Library not loaded: /usr/local/opt/openssl@1.1/lib/libssl.1.1.dylib"
dyld: Library not loaded: /usr/local/opt/openssl@1.1/lib/libssl.1.1.dylib
  Referenced from: /usr/local/bin/tari_base_node
  Reason: no suitable image found.  Did find:
	/usr/local/opt/openssl@1.1/lib/libssl.1.1.dylib: code signature in (/usr/local/opt/openssl@1.1/lib/libssl.1.1.dylib) not valid for use in process using Library Validation: mapping process and mapped file (non-platform) have differ

[2021-03-19 15:20] stringhandler commented on #2772
Is this when building from source?

[2021-03-19 16:33] delta1 commented on #2772
Hi @cczufish please see #2515 for two possible fixes and let us know if that helps

[2021-03-19 16:45] delta1 commented on #2772
https://stackoverflow.com/questions/59214424/macos-homebrew-dylib-formula-all-hit-code-sign-errors/59245396#59245396

[2021-03-20 01:16] cczufish commented on #2772
thanks ,but it not works for me .

when I excute on terminal ,and then

codesign -f -s "Apple Development: my account" /usr/local/opt/openssl@1.1/lib/*.dylib
/usr/local/opt/openssl@1.1/lib/libcrypto.dylib: replacing existing signature
/usr/local/opt/openssl@1.1/lib/libssl.dylib: replacing existing signature

[2021-03-20 04:46] delta1 commented on #2772
Will investigate further. Are you using a binary downloaded from the website?

[2021-03-21 19:49] delta1 commented on #2772
@cczufish what version of macOS?

[2021-03-21 19:50] delta1 commented on #2515
@xuxucode @futurepr0n what version of macOS?

[2021-03-22 01:27] xuxucode commented on #2515
@delta1
[code]

[2021-03-22 01:29] cczufish commented on #2772
m1 & Mac os Big Sur

[2021-03-22 01:30] cczufish commented on #2772
I  downloaded tari_base_node-0.8.5-aeba436-release.pkg from the website

[2021-03-23 07:32] hansieodendaal commented on #2253
PR #2775 proved that issue can be closed.

[2021-03-23 07:32] #2253 closed, assigned to nobody

[2021-03-23 09:57] delta1 opened #2776 "Clean up cucumber tests"
Improve the [cucumber tests](https://github.com/tari-project/tari/tree/development/integration_tests) by grouping logical steps into convenience functions where they can be reused across features

[2021-03-23 10:00] delta1 opened #2777 "[base-node] Implement AllowList for peers"
Implement a configurable AllowList of peers that should never be banned from communications

- [ ] `config.toml` should accept a new key for an array of allowed peers
- [ ] in the banning function, the peer being banned should be checked first to see if it is in the list of allowed peers, and if so **do not** ban it. An info/debug log should be added to make note of this

[2021-03-23 10:04] delta1 opened #2778 "[console-wallet] Red spent text for transactions look like errors"
Propose an improvement for the console-wallet, maybe the red spend amounts should be a different color? How should spent vs received transactions be displayed?

![image](https://user-images.githubusercontent.com/351403/112129158-cab0af00-8bcf-11eb-8606-21a860d2e979.png)

Maybe spent transactions should be displayed with a minus sign?

[2021-03-23 10:11] delta1 opened #2779 "Write versioning RFC"
Write a new [Tari RFC document](https://rfc.tari.com) describing how proposed soft/hard forks are versioned - what aspects of the consensus rules determine when a new version number should be implemented?

[2021-03-23 10:20] delta1 opened #2780 "Investigate Tor issue: "No more HSDir available to query""
While running the Tari base node over Tor, the following notice log is logged repeatedly by Tor:

`[notice] Closed 1 streams for service [scrubbed].onion for reason resolve failed. Fetch status: No more HSDir available to query.`

Investigate the cause of this issue and find a fix for it (or suggest a way to fix it).

From previous investigation into the [Tor source code](https://github.com/torpro

[2021-03-23 10:25] delta1 opened #2781 "[base-node] Fix percentage in SyncHeaders status message"
Syncing headers always displays 100% in status message

[code]

This should show the actual progress in syncing all the chain headers

[2021-03-23 10:38] visiblyDock78 opened #2783 "Are you here to help Riccardo Spagni steal some more money?"
https://www.reddit.com/r/Monero/comments/6d5yt5/what_fluffypony_just_did_is_not_ok/

Monero: BUT HE APOLOGISED TO SOME OF THEM AFTER LAUGHING AT THOSE IDIOTS!

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2781 #2780 #2779 #2778 #2777 #2776 #2772 #2770 #2714 #2633 #2620 #2617 #2580 #2515 #2479 #2442 #2389 #2346 #2342 #2315 #2268 #2228 #2210 #2209 #2206

[2021-03-23 10:40] outersnorer64 opened #2785 "Did Riccardo Spagni change his mind after saying he wants to pump and dump Monero?"
“I thought, ‘I’m going to pump it and dump it,’ because I was interested and taking the ideas
and implementing them in bitcoin. The bitcoin code base was far more interesting to me than monero,
and I thought, ‘I’m not going to work on this codebase, it’s terrible” he recalls.
- fluffypony on Monero

----

https://www.coindesk.com/drugs-code-icos-moneros-long-road-blockchain-mainstream

----

Spam

[2021-03-23 10:42] Quaintlypitch opened #2787 "Resume: 2020-2021 Helped a known conman to facilitate his pump and dump scheme."
https://www.reddit.com/r/Monero/comments/6d5yt5/what_fluffypony_just_did_is_not_ok/

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2785 #2783 #2781 #2780 #2779 #2778 #2777 #2776 #2772 #2770 #2714 #2633 #2620 #2617 #2580 #2515 #2479 #2442 #2389 #2346 #2342 #2315 #2268 #2228 #2210

[2021-03-23 10:50] enoughraise815 opened #2789 "Resume: 2020-2021 Helped a known conman to facilitate his pump and dump scheme."
https://www.reddit.com/r/Monero/comments/6d5yt5/what_fluffypony_just_did_is_not_ok/

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2787 #2785 #2783 #2781 #2780 #2779 #2778 #2777 #2776 #2772 #2770 #2714 #2633 #2620 #2617 #2580 #2515 #2479 #2442 #2389 #2346 #2342 #2315 #2268 #2228

[2021-03-23 11:00] enoughraise815 opened #2790 "Tari will be a great success! Totally not a botomless money pit! Hi five!"
Tari will be a great success! Totally not a botomless money pit! Hi five!

[2021-03-23 11:13] delta1 commented on #2790
Ok lol thanks, keep grinding that axe.

[2021-03-23 11:13] #2790 closed

[2021-03-23 11:14] #2789 closed

[2021-03-23 11:14] #2785 closed

[2021-03-23 11:16] delta1 commented on #2783
We're here to write code, take your political/philosophical issues elsewhere.

[2021-03-23 11:16] #2783 closed

[2021-03-23 11:17] #2787 closed

[2021-03-25 05:20] sdbondi commented on #2080
@mikethetike Short answer: yes

Peers are allowed to advertise public IP addresses. The current strategy bans the node identity, however since new identities are free, an attacker could simply create a new identity to 'bypass' the ban. When we ban a peer, we should be banning their network address. Of course, tor addresses are free identities so in tor's case this doesn't make any difference.

[2021-03-26 01:40] ghost opened #2797 "[Thanks for making Tari better] Unexpected error while run mining node"
2021-03-26 02:29:22.046917700 [tari_mining_node] INFO  Connecting to base node at http://127.0.0.1:18142
2021-03-26 02:29:22.048975200 [tari_mining_node] INFO  Connecting to wallet at http://127.0.0.1:18143
2021-03-26 02:29:22.070968000 [tari_mining_node] ERROR Error: Node not ready
2021-03-26 02:29:32.075685300 [tari_mining_node] ERROR Error: Node not ready
2021-03-26 02:29:42.084569000 [tari_min

[2021-03-26 04:30] delta1 commented on #2797
Thanks for raising this issue, any chance you can zip up the wallet log files and post them please?

[2021-03-26 04:36] ghost commented on #2797
[wallet.zip](https://github.com/tari-project/tari/files/6209400/wallet.zip)

[2021-03-26 07:03] delta1 commented on #2797
Thank you @offordelete I'll take a look and then let you know how to fix your wallet!

[2021-03-26 17:34] ghost commented on #2797
Thank you. After I restarted my computer it was ok however later I got this message too but the miner started to mine by itself. I don't know if it helps. 🤷🏻‍♂️😀

Update. I was wrong it looks like it start to mine but after a while it gets wrong.

[2021-03-27 09:42] deftlyhook711 opened #2800 "Are you here to help Riccardo Spagni steal some more money?"
https://www.reddit.com/r/Monero/comments/6d5yt5/what_fluffypony_just_did_is_not_ok/

Monero: BUT HE APOLOGISED TO SOME OF THEM AFTER LAUGHING AT THOSE IDIOTS!

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2797 #2781 #2780 #2779 #2778 #2777 #2776 #2772 #2770 #2714 #2633 #2620 #2617 #2580 #2515 #2479 #2442 #2389 #2346 #2342 #2315 #2268 #2228 #2210 #2209

[2021-03-27 09:48] #2800 closed

[2021-03-27 09:49] HandilyStop opened #2802 "Resume: 2020-2021 Helped a known conman to facilitate his pump and dump scheme."
https://www.reddit.com/r/Monero/comments/6d5yt5/what_fluffypony_just_did_is_not_ok/

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2797 #2781 #2780 #2779 #2778 #2777 #2776 #2772 #2770 #2714 #2633 #2620 #2617 #2580 #2515 #2479 #2442 #2389 #2346 #2342 #2315 #2268 #2228 #2210 #2209

[2021-03-27 09:49] HandilyStop commented on #2797
View #2801

[2021-03-27 09:49] HandilyStop commented on #2781
View #2801

[2021-03-27 09:49] HandilyStop commented on #2780
See #2801

[2021-03-27 09:49] HandilyStop commented on #2779
Have a look at #2801

[2021-03-27 09:50] HandilyStop commented on #2778
Take a look #2801

[2021-03-27 09:50] HandilyStop commented on #2777
See #2801

[2021-03-27 09:50] HandilyStop commented on #2776
#2801

[2021-03-27 09:50] HandilyStop commented on #2772
Take a look #2801

[2021-03-27 09:50] HandilyStop commented on #2770
View #2801

[2021-03-27 09:51] HandilyStop commented on #2714
View #2801

[2021-03-27 12:10] #2802 closed

[2021-03-27 12:57] mitralwangle679 opened #2804 "Resume: 2020-2021 Helped a known conman to facilitate his pump and dump scheme."
https://www.reddit.com/r/Monero/comments/6d5yt5/what_fluffypony_just_did_is_not_ok/

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2797 #2781 #2780 #2779 #2778 #2777 #2776 #2772 #2770 #2714 #2633 #2620 #2617 #2580 #2515 #2479 #2442 #2389 #2346 #2342 #2315 #2268 #2228 #2210 #2209

[2021-03-27 12:57] mitralwangle679 commented on #2797
View #2803

[2021-03-27 12:57] mitralwangle679 commented on #2781
Have a look at #2803

[2021-03-27 12:57] mitralwangle679 commented on #2780
Have a look at #2803

[2021-03-27 12:58] mitralwangle679 commented on #2779
See #2803

[2021-03-27 12:58] mitralwangle679 commented on #2778
See #2803

[2021-03-27 12:58] mitralwangle679 commented on #2777
See #2803

[2021-03-27 12:58] mitralwangle679 commented on #2776
See #2803

[2021-03-27 12:58] mitralwangle679 commented on #2772
Have a look at #2803

[2021-03-27 12:58] mitralwangle679 commented on #2770
See #2803

[2021-03-27 12:59] mitralwangle679 commented on #2714
Check out #2803

[2021-03-27 13:17] #2804 closed

[2021-03-27 14:41] Unfirmgrivet81 opened #2806 "Spam"
Spam

[2021-03-27 14:41] Unfirmgrivet81 commented on #2797
See #2805

[2021-03-27 14:41] Unfirmgrivet81 commented on #2781
Check out #2805

[2021-03-27 14:41] Unfirmgrivet81 commented on #2780
See #2805

[2021-03-27 14:41] Unfirmgrivet81 commented on #2779
Check out #2805

[2021-03-27 14:42] Unfirmgrivet81 commented on #2778
#2805

[2021-03-27 14:42] Unfirmgrivet81 commented on #2777
Check out #2805

[2021-03-27 14:42] Unfirmgrivet81 commented on #2776
Check out #2805

[2021-03-27 14:42] Unfirmgrivet81 commented on #2772
See #2805

[2021-03-27 14:42] Unfirmgrivet81 commented on #2770
Have a look at #2805

[2021-03-27 14:43] Unfirmgrivet81 commented on #2714
View #2805

[2021-03-27 15:04] #2806 closed

[2021-03-29 05:21] sdbondi opened #2808 "Allow base nodes and wallets to use cookie auth with tor control port"
Comms' tor client already supports cookie auth however the node configs do not.

Example config
[code]

Considerations:
1. Could the file path be omitted which then uses a default standard path?
2.  Behaviour if the cookie cannot be found
      - warning message, then fallback
      - exit with config error
4. Is support for safecookies needed?

[2021-03-29 07:09] leet4tari commented on #2515
JFYI - my brew just updated my openssl
[code]
I did not re-sign the openssl libs and ```tari_base_node``` run without problems. I don't know if this adds any useful info.

[2021-03-29 07:13] delta1 commented on #2515
Nice one @leet4tari thanks!

 @xuxucode @futurepr0n @cczufish could you try upgrading OpenSSL and let us know please?

`brew upgrade openssl`

[2021-03-29 07:15] delta1 commented on #2772
@cczufish closing this issue for #2515 to continue there 🙏

Please try https://github.com/tari-project/tari/issues/2515#issuecomment-809132161

[2021-03-29 07:15] #2772 closed, assigned to nobody

[2021-03-29 09:30] leet4tari commented on #2515
Just to be clear, I have not done anything, just making a note
[code]
These libs are not signed, but were and ```tari_base_node``` loads and seems to run without any errors on my Mac.

[2021-03-29 12:14] sdbondi commented on #2147
Closing in favour of #2808 (duplicate)

[2021-03-29 12:14] #2147 closed, assigned to nobody

[2021-03-29 14:50] upstagebuild585 opened #2810 "Spam"
Spam

[2021-03-29 14:51] upstagebuild585 commented on #2808
See #2809

[2021-03-29 14:51] upstagebuild585 commented on #2797
View #2809

[2021-03-29 14:51] upstagebuild585 commented on #2781
Take a look #2809

[2021-03-29 14:51] upstagebuild585 commented on #2780
Check out #2809

[2021-03-29 14:51] upstagebuild585 commented on #2779
Have a look at #2809

[2021-03-29 14:51] upstagebuild585 commented on #2778
See #2809

[2021-03-29 14:52] upstagebuild585 commented on #2777
Have a look at #2809

[2021-03-29 14:52] upstagebuild585 commented on #2776
Take a look #2809

[2021-03-29 14:52] upstagebuild585 commented on #2770
Have a look at #2809

[2021-03-29 14:52] upstagebuild585 commented on #2714
See #2809

[2021-03-29 17:17] JuicyReferral136 opened #2812 "Spam"
Spam

[2021-03-29 17:18] JuicyReferral136 commented on #2810
Take a look #2811

[2021-03-29 17:18] JuicyReferral136 commented on #2808
Check out #2811

[2021-03-29 17:18] JuicyReferral136 commented on #2797
See #2811

[2021-03-29 17:19] JuicyReferral136 commented on #2781
Check out #2811

[2021-03-29 17:19] JuicyReferral136 commented on #2780
See #2811

[2021-03-29 17:19] JuicyReferral136 commented on #2779
View #2811

[2021-03-29 17:19] JuicyReferral136 commented on #2778
See #2811

[2021-03-29 17:19] JuicyReferral136 commented on #2777
#2811

[2021-03-29 17:20] JuicyReferral136 commented on #2776
Check out #2811

[2021-03-29 17:20] JuicyReferral136 commented on #2770
View #2811

[2021-03-30 07:10] #2812 closed

[2021-03-30 07:11] #2810 closed

[2021-04-06 13:41] luridRegion43 opened #2832 "-spam-"
-spam-

[2021-04-06 13:42] luridRegion43 commented on #2808
View #2831

[2021-04-06 13:42] luridRegion43 commented on #2797
See #2831

[2021-04-06 13:42] luridRegion43 commented on #2781
View #2831

[2021-04-06 13:42] luridRegion43 commented on #2780
#2831

[2021-04-06 13:42] luridRegion43 commented on #2779
Have a look at #2831

[2021-04-06 13:42] luridRegion43 commented on #2778
Take a look #2831

[2021-04-06 13:43] luridRegion43 commented on #2777
Have a look at #2831

[2021-04-06 13:43] luridRegion43 commented on #2776
Have a look at #2831

[2021-04-06 13:43] luridRegion43 commented on #2770
Check out #2831

[2021-04-06 13:43] luridRegion43 commented on #2714
View #2831

[2021-04-06 13:49] #2832 closed

[2021-04-19 10:56] Rsimoca opened #2859 "Tor error: No more HSDir available to query & Merge minig proxy initial base node not achieved"
**Describe the bug**
 my merge mining proxy says initial base node not achieved, current hight at #35854... (waiting = true)

**To Reproduce**
1. I installed the tari.exe
2. After the  installation was done, and the node got synced.  I modified xmrig conf.json  with my node 127.0.0.1:18081 and wallet
3. I run Tari all as admin
4. And i get 2 kind of errors:

  * Tor service gives me this error :

[2021-04-19 11:45] delta1 commented on #2859
Hi @Rsimoca thanks for the report!

Regarding the "no more hsdir available", no need to worry about that it doesn't affect normal operation. We have an issue tracking that at #2780.

As for the base node sync, could you please zip up your `log/base-node` folder and post that here? Alternatively you can email it to [bug_reports@tari.com](mailto:bug_reports@tari.com) if that's easier.

[2021-04-19 11:59] radialpartita858 opened #2861 "Resume: 2020-2021 Helped a known conman to facilitate his pump and dump scheme."
http://removeddit.com/r/Monero/comments/6d6okb/fluffypony_needs_to_give_up_his_commit_access_and/ (changed link to removeddit since /r/monero mod removed to try to cover it up - maybe fluffy himself?)

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2859 #2808 #2797 #2781 #2780 #2779 #2778 #2777 #2776 #2770 #2714 #2633 #2620 #2617 #2580 #2515 #2479 #2442 #

[2021-04-19 12:00] radialpartita858 commented on #2859
Take a look #2860

[2021-04-19 12:00] radialpartita858 commented on #2808
See #2860

[2021-04-19 12:00] radialpartita858 commented on #2797
Take a look #2860

[2021-04-19 12:00] radialpartita858 commented on #2781
View #2860

[2021-04-19 12:00] radialpartita858 commented on #2780
Have a look at #2860

[2021-04-19 12:01] radialpartita858 commented on #2779
#2860

[2021-04-19 12:01] radialpartita858 commented on #2778
#2860

[2021-04-19 12:01] radialpartita858 commented on #2777
#2860

[2021-04-19 12:01] radialpartita858 commented on #2776
View #2860

[2021-04-19 12:01] radialpartita858 commented on #2770
Have a look at #2860

[2021-04-19 12:03] Rsimoca commented on #2859
[mining-node.zip](https://github.com/tari-project/tari/files/6335852/mining-node.zip)

[2021-05-04 15:36] github-actions[bot] opened #2892 "RUSTSEC-2021-0060: `aes-soft` has been merged into the `aes` crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `aes-soft`                      |
| Version             | `0.6.4`                   |
| URL                 | [https://github.com/RustCrypto/block-ciphers/pull/200](https://git

[2021-05-04 15:36] github-actions[bot] opened #2893 "RUSTSEC-2021-0059: `aesni` has been merged into the `aes` crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `aesni`                      |
| Version             | `0.10.0`                   |
| URL                 | [https://github.com/RustCrypto/block-ciphers/pull/200](https://githu

[2021-05-04 18:03] delta1 commented on #2892
Looks to be from the `aes-gcm` dependency in the `wallet` package

[2021-05-05 06:26] hansieodendaal commented on #2442
This has been sorted, not trying to find the related PR now.

[2021-05-05 06:26] #2442 closed, assigned to nobody

[2021-05-07 15:36] github-actions[bot] opened #2904 "RUSTSEC-2021-0064: `cpuid-bool` has been renamed to `cpufeatures`"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `cpuid-bool`                      |
| Version             | `0.2.0`                   |
| URL                 | [https://github.com/RustCrypto/utils/pull/381](https://github.co

[2021-05-14 20:22] Closelyopen12 opened #2918 "What will become of XMR when fluffypony will get charged with cryptocurrency embezzlement like McAfee?"
https://tinyurl.com/h4rz4f9x

https://tinyurl.com/czwswrxv (changed link to removeddit since /r/monero mod removed to try to cover it up - maybe fluffy himself?)

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2904 #2893 #2892 #2859 #2808 #2797 #2781 #2780 #2779 #2778 #2777 #2776 #2770 #2714 #2633 #2620 #2617 #2580 #2515 #2479 #2389 #2346 #2342 #2315 #226

[2021-05-14 20:23] Closelyopen12 commented on #2904
View #2917

[2021-05-14 20:23] Closelyopen12 commented on #2893
View #2917

[2021-05-14 20:23] Closelyopen12 commented on #2892
Take a look #2917

[2021-05-14 20:23] Closelyopen12 commented on #2859
See #2917

[2021-05-14 20:23] Closelyopen12 commented on #2808
See #2917

[2021-05-14 20:24] Closelyopen12 commented on #2797
Check out #2917

[2021-05-14 20:24] Closelyopen12 commented on #2781
See #2917

[2021-05-14 20:24] Closelyopen12 commented on #2780
Take a look #2917

[2021-05-14 20:24] Closelyopen12 commented on #2779
#2917

[2021-05-14 20:24] Closelyopen12 commented on #2778
Have a look at #2917

[2021-05-14 21:33] QueasilyMacerate286 opened #2920 "Are you coding to aid fluffypony to embezzle some more money?"
https://tinyurl.com/e7u3kadu (changed link to removeddit since /r/monero mod removed to try to cover it up - maybe fluffy himself?)

Monero: BUT HE APOLOGISED TO SOME OF THEM AFTER LAUGHING AT THOSE IDIOTS!

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2904 #2893 #2892 #2859 #2808 #2797 #2781 #2780 #2779 #2778 #2777 #2776 #2770 #2714 #2633 #2620 #2617 #

[2021-05-14 21:33] QueasilyMacerate286 commented on #2904
See #2919

[2021-05-14 21:34] QueasilyMacerate286 commented on #2893
View #2919

[2021-05-14 21:34] QueasilyMacerate286 commented on #2892
#2919

[2021-05-14 21:34] QueasilyMacerate286 commented on #2859
Take a look #2919

[2021-05-14 21:34] QueasilyMacerate286 commented on #2808
#2919

[2021-05-14 21:34] QueasilyMacerate286 commented on #2797
View #2919

[2021-05-14 21:34] QueasilyMacerate286 commented on #2781
Take a look #2919

[2021-05-14 21:35] QueasilyMacerate286 commented on #2780
Check out #2919

[2021-05-14 21:35] QueasilyMacerate286 commented on #2779
Have a look at #2919

[2021-05-14 21:35] QueasilyMacerate286 commented on #2778
Have a look at #2919

[2021-05-14 22:27] BadRoper98 opened #2922 "Did fluffypony change his mind after admitting he wants to pump and dump XMR?"
“I thought, ‘I’m going to pump it and dump it,’ because I was interested and taking the ideas
and implementing them in bitcoin. The bitcoin code base was far more interesting to me than monero,
and I thought, ‘I’m not going to work on this codebase, it’s terrible” he recalls.
- fluffypony on Monero

----

https://www.coindesk.com/drugs-code-icos-moneros-long-road-blockchain-mainstream

----

Spam

[2021-05-14 22:27] BadRoper98 commented on #2920
Take a look #2921

[2021-05-14 22:27] BadRoper98 commented on #2904
See #2921

[2021-05-14 22:27] BadRoper98 commented on #2893
See #2921

[2021-05-14 22:27] BadRoper98 commented on #2892
View #2921

[2021-05-14 22:27] BadRoper98 commented on #2859
Check out #2921

[2021-05-14 22:28] BadRoper98 commented on #2808
#2921

[2021-05-14 22:28] BadRoper98 commented on #2797
Check out #2921

[2021-05-14 22:28] BadRoper98 commented on #2781
See #2921

[2021-05-14 22:28] BadRoper98 commented on #2780
Take a look #2921

[2021-05-14 22:28] BadRoper98 commented on #2779
#2921

[2021-05-15 00:02] ZambianJigsaw96 opened #2924 "Did fluffypony change his mind after admitting he wants to pump and dump Monero?"
“I thought, ‘I’m going to pump it and dump it,’ because I was interested and taking the ideas
and implementing them in bitcoin. The bitcoin code base was far more interesting to me than monero,
and I thought, ‘I’m not going to work on this codebase, it’s terrible” he recalls.
- fluffypony on Monero

----

https://www.coindesk.com/drugs-code-icos-moneros-long-road-blockchain-mainstream

----

Spam

[2021-05-15 00:02] ZambianJigsaw96 commented on #2922
Check out #2923

[2021-05-15 00:03] ZambianJigsaw96 commented on #2920
Have a look at #2923

[2021-05-15 00:03] ZambianJigsaw96 commented on #2904
Check out #2923

[2021-05-15 00:03] ZambianJigsaw96 commented on #2893
See #2923

[2021-05-15 00:03] ZambianJigsaw96 commented on #2892
See #2923

[2021-05-15 00:03] ZambianJigsaw96 commented on #2859
View #2923

[2021-05-15 00:03] ZambianJigsaw96 commented on #2808
#2923

[2021-05-15 00:04] ZambianJigsaw96 commented on #2797
Have a look at #2923

[2021-05-15 00:04] ZambianJigsaw96 commented on #2781
#2923

[2021-05-15 00:04] ZambianJigsaw96 commented on #2780
Check out #2923

[2021-05-15 00:19] indigoPreserve55 opened #2928 "What will happen to Monero when fluffypony will get charged with crypto embezzlement like McAfee?"
https://tinyurl.com/h4rz4f9x

https://tinyurl.com/czwswrxv (changed link to removeddit since /r/monero mod removed to try to cover it up - maybe fluffy himself?)

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2924 #2922 #2920 #2904 #2893 #2892 #2859 #2808 #2797 #2781 #2780 #2779 #2778 #2777 #2776 #2770 #2714 #2633 #2620 #2617 #2580 #2515 #2479 #2389 #234

[2021-05-15 00:19] indigoPreserve55 commented on #2924
Take a look #2927

[2021-05-15 00:20] indigoPreserve55 commented on #2922
View #2927

[2021-05-15 00:20] indigoPreserve55 commented on #2920
View #2927

[2021-05-15 00:20] indigoPreserve55 commented on #2904
Have a look at #2927

[2021-05-15 00:20] indigoPreserve55 commented on #2893
Take a look #2927

[2021-05-15 00:20] indigoPreserve55 commented on #2892
Take a look #2927

[2021-05-15 00:20] indigoPreserve55 commented on #2859
Have a look at #2927

[2021-05-15 00:21] indigoPreserve55 commented on #2808
See #2927

[2021-05-15 00:21] indigoPreserve55 commented on #2797
Take a look #2927

[2021-05-15 00:21] indigoPreserve55 commented on #2781
Take a look #2927

[2021-05-15 01:12] PurulentAcinonyx opened #2934 "CV: 2020-2021 Aided a known fraudster to create his pump and dump scheme."
https://tinyurl.com/3xaej452 (changed link to removeddit since /r/monero mod removed to try to cover it up - maybe fluffy himself?)

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2928 #2924 #2922 #2920 #2904 #2893 #2892 #2859 #2808 #2797 #2781 #2780 #2779 #2778 #2777 #2776 #2770 #2714 #2633 #2620 #2617 #2580 #2515 #2479 #2389

[2021-05-15 01:12] PurulentAcinonyx commented on #2928
View #2933

[2021-05-15 01:12] PurulentAcinonyx commented on #2924
Take a look #2933

[2021-05-15 01:12] PurulentAcinonyx commented on #2922
#2933

[2021-05-15 01:13] PurulentAcinonyx commented on #2920
#2933

[2021-05-15 01:13] PurulentAcinonyx commented on #2904
Have a look at #2933

[2021-05-15 01:13] PurulentAcinonyx commented on #2893
Check out #2933

[2021-05-15 01:13] PurulentAcinonyx commented on #2892
Take a look #2933

[2021-05-15 01:13] PurulentAcinonyx commented on #2859
#2933

[2021-05-15 01:13] PurulentAcinonyx commented on #2808
#2933

[2021-05-15 01:14] PurulentAcinonyx commented on #2797
Have a look at #2933

[2021-05-15 02:31] veryshroud opened #2938 "Are you here to aid Riccardo Spagni to misappropriate some more money?"
https://tinyurl.com/e7u3kadu (changed link to removeddit since /r/monero mod removed to try to cover it up - maybe fluffy himself?)

Monero: BUT HE APOLOGISED TO SOME OF THEM AFTER LAUGHING AT THOSE IDIOTS!

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2934 #2928 #2924 #2922 #2920 #2904 #2893 #2892 #2859 #2808 #2797 #2781 #2780 #2779 #2778 #2777 #2776 #

[2021-05-15 02:31] veryshroud commented on #2934
#2937

[2021-05-15 02:31] veryshroud commented on #2928
See #2937

[2021-05-15 02:31] veryshroud commented on #2924
View #2937

[2021-05-15 02:31] veryshroud commented on #2922
Have a look at #2937

[2021-05-15 02:32] veryshroud commented on #2920
Take a look #2937

[2021-05-15 02:32] veryshroud commented on #2904
View #2937

[2021-05-15 02:32] veryshroud commented on #2893
Have a look at #2937

[2021-05-15 02:32] veryshroud commented on #2892
Take a look #2937

[2021-05-15 02:32] veryshroud commented on #2859
#2937

[2021-05-15 02:32] veryshroud commented on #2808
#2937

[2021-05-15 03:54] Onstagethink42 opened #2940 "Are you coding to help Riccardo Spagni to misappropriate some more money?"
https://tinyurl.com/e7u3kadu (changed link to removeddit since /r/monero mod removed to try to cover it up - maybe fluffy himself?)

Monero: BUT HE APOLOGISED TO SOME OF THEM AFTER LAUGHING AT THOSE IDIOTS!

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2938 #2934 #2928 #2924 #2922 #2920 #2904 #2893 #2892 #2859 #2808 #2797 #2781 #2780 #2779 #2778 #2777 #

[2021-05-15 03:54] Onstagethink42 commented on #2938
View #2939

[2021-05-15 03:54] Onstagethink42 commented on #2934
Take a look #2939

[2021-05-15 03:54] Onstagethink42 commented on #2928
#2939

[2021-05-15 03:55] Onstagethink42 commented on #2924
See #2939

[2021-05-15 03:55] Onstagethink42 commented on #2922
Check out #2939

[2021-05-15 03:55] Onstagethink42 commented on #2920
See #2939

[2021-05-15 03:55] Onstagethink42 commented on #2904
Take a look #2939

[2021-05-15 03:55] Onstagethink42 commented on #2893
Take a look #2939

[2021-05-15 03:56] Onstagethink42 commented on #2892
Have a look at #2939

[2021-05-15 03:56] Onstagethink42 commented on #2859
View #2939

[2021-05-15 05:17] tweedyPithead opened #2944 "Are you coding to aid Riccardo Spagni to misappropriate some more money?"
https://tinyurl.com/e7u3kadu (changed link to removeddit since /r/monero mod removed to try to cover it up - maybe fluffy himself?)

Monero: BUT HE APOLOGISED TO SOME OF THEM AFTER LAUGHING AT THOSE IDIOTS!

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2940 #2938 #2934 #2928 #2924 #2922 #2920 #2904 #2893 #2892 #2859 #2808 #2797 #2781 #2780 #2779 #2778 #

[2021-05-15 05:18] tweedyPithead commented on #2940
#2943

[2021-05-15 05:18] tweedyPithead commented on #2938
View #2943

[2021-05-15 05:18] tweedyPithead commented on #2934
Check out #2943

[2021-05-15 05:18] tweedyPithead commented on #2928
Check out #2943

[2021-05-15 05:18] tweedyPithead commented on #2924
Take a look #2943

[2021-05-15 05:18] tweedyPithead commented on #2922
Check out #2943

[2021-05-15 05:19] tweedyPithead commented on #2920
Have a look at #2943

[2021-05-15 05:19] tweedyPithead commented on #2904
#2943

[2021-05-15 05:19] tweedyPithead commented on #2893
View #2943

[2021-05-15 05:19] tweedyPithead commented on #2892
Have a look at #2943

[2021-05-15 06:36] GratefulMender19 opened #2950 "Are you coding to help fluffypony to steal some more money?"
https://tinyurl.com/e7u3kadu (changed link to removeddit since /r/monero mod removed to try to cover it up - maybe fluffy himself?)

Monero: BUT HE APOLOGISED TO SOME OF THEM AFTER LAUGHING AT THOSE IDIOTS!

----

Spam or truth? There is only one way to find out. Look into the sources yourself.

#2944 #2940 #2938 #2934 #2928 #2924 #2922 #2920 #2904 #2893 #2892 #2859 #2808 #2797 #2781 #2780 #2779 #

[2021-05-15 06:36] GratefulMender19 commented on #2944
View #2949

[2021-05-15 06:36] GratefulMender19 commented on #2940
#2949

[2021-05-15 06:36] GratefulMender19 commented on #2938
Take a look #2949

[2021-05-15 06:36] GratefulMender19 commented on #2934
#2949

[2021-05-15 06:37] GratefulMender19 commented on #2928
#2949

[2021-05-15 06:37] GratefulMender19 commented on #2924
Check out #2949

[2021-05-15 06:37] GratefulMender19 commented on #2922
Take a look #2949

[2021-05-15 06:37] GratefulMender19 commented on #2920
#2949

[2021-05-15 06:37] GratefulMender19 commented on #2904
Have a look at #2949

[2021-05-15 06:38] GratefulMender19 commented on #2893
Take a look #2949

[2021-05-15 08:11] #2920 closed, assigned to nobody

[2021-05-15 08:11] #2922 closed, assigned to nobody

[2021-06-09 08:53] stringhandler opened #2997 "The sender can change the script of a UTXO before submitting to the blockchain"
## Problem:
In the negotiation of the transaction between Alice and Bob, when Bob sends the UTXO to Alice, Alice can change the script before signing the UTXO with the script offset key.

## History:
This is a continuation of a discussion on PR #2988.
In the initial version of Tari script, the script and other parts of the UTXO was included in the rangeproof as `beta`. Due to another vulnerability

[2021-06-09 09:24] stringhandler commented on #2997
I may be misrepresenting @SWvheerden and @philipr-za on this, but their view in the discussion on #2988 is that this is not an issue, and we can allow it.

Some counter points to that:
1. If the protocol/RFC does not strictly forbid Alice from changing the script, it should be viewed that it is an allowed interaction for her to change it. It should not be ambiguous whether this is allowed or disal

[2021-06-09 09:52] stringhandler commented on #2997
My suggestion is to add a comsig field to the UTXO instead of adding beta. I don't know all of the attack vectors on bulletproofs, so I'm not sure how solid the beta approach would be. A comsig signing the script and features would prove that the owner of the blinding factor has agreed to the script that is eventually published on the blockchain and cannot falsely accuse Alice of changing the scri

[2021-06-09 15:34] philipr-za commented on #2997
I far prefer doing this using a signature meant for the job rather than the addition of Beta to the range proof as that is adding complexity to an already complex cryptographic element of a transaction where the problem is really one that a Signature should be solving.

Upfront, I will say that I agree that its addition is useful as an error checking step so that the script doesn't *accidentally*

[2021-06-10 05:56] SWvheerden commented on #2997
I agree with @philipr-za  here, I think the main "problem" point here is the power play that Alice can dictate how Bob spends "his" UTXO. Which I feel is no problem as Alice is the provider of these funds, she has the final say over what conditions it can be spent. Let us consider the following examples:

1.  Alice pays Bob, her child. But she only wants him to be able to spend the money when he i

[2021-06-10 05:58] hansieodendaal commented on #2997
I do not believe we would gain anything using a comsig for Bob here, just adding more space to the blockchain, as the modified Bulletproof already contains the zero-knowledge proof.

[code]

In this setting knowledge about `(v, k)` cannot be gained by the verifier by virtue of the prover calculating a Bulletproof range proof for `C_hat(v, k; beta)` instead of for `C(v, k)`, or with the prover calc

[2021-06-10 06:05] hansieodendaal commented on #2997
I think this is a flaw as well in our wallet code; identification of a UTXO should be based on the value commitment alone. This is how wallet recovery works in any case; Bulletproof rewinding only looks at the ability to open the value commitment inside a UTXO, not at the UTXOs hash.

[2021-06-10 06:14] hansieodendaal commented on #2997
We can never know what the out-of-band agreement between Alice and Bob will be, which will be reflected in the script as far as possible, so it is incorrect to assume _Bob would always prefer a script with no conditions_.

[2021-06-10 06:34] philipr-za commented on #2997
As the Receiver he would though. He and Alice might come to some out of band agreement on how he will receive his payment but because it is Alice's funds that are being received by him it is in her interest to apply the script. He is the one who will be spending it in the future, not her. So for him the conditions are a nuisance. The only reason he accepts the conditions on how he can spend it is

[2021-06-10 08:14] hansieodendaal commented on #2997
Examples with _out-of-band agreements_:
- Bob needs to prove to a 3rd party that he has a time lock script on his UTXO that he receives from Alice.
- Alice sends funds to a special wallet Bob created that he will bequeath (in full) to his children:
   - It contains time-locked scripts on some UTXOs.
   - It contains m-of-n spend scripts on some UTXOs.
- Bob takes part in a betting scheme where he

[2021-06-10 08:32] SWvheerden commented on #2997
But this the great thing about a decentralized blockchain, you don't need out-of-band agreements. With all of the above examples, if the UTXO is not correct, then it did not happen.

- The proof is the time-locked utxo on the blockchain. If it's not there Bob can create one as proof for the 3rd party.
- Alice will never just send a UTXO to Bob's children if there is no external pressure to do so.

[2021-06-19 13:53] Nastilydaub opened #3022 "Spam"
Spam

[2021-06-19 13:53] Nastilydaub commented on #2997
See #3021

[2021-06-19 13:54] Nastilydaub commented on #2904
See #3021

[2021-06-19 13:54] Nastilydaub commented on #2893
Check out #3021

[2021-06-19 13:54] Nastilydaub commented on #2892
#3021

[2021-06-19 13:54] Nastilydaub commented on #2859
Take a look #3021

[2021-06-19 13:54] Nastilydaub commented on #2808
Check out #3021

[2021-06-19 13:54] Nastilydaub commented on #2797
Check out #3021

[2021-06-19 13:54] Nastilydaub commented on #2781
#3021

[2021-06-19 13:55] Nastilydaub commented on #2780
View #3021

[2021-06-19 13:55] Nastilydaub commented on #2779
Take a look #3021

[2021-06-19 14:08] #2779 closed, assigned to nobody

[2021-06-19 15:00] EndwaysPlunge opened #3024 "spam"
Spam

[2021-06-19 15:00] EndwaysPlunge commented on #3022
Check out #3023

[2021-06-19 17:44] #3022 closed, assigned to nobody

[2021-06-19 17:45] #3024 closed, assigned to nobody

[2021-06-24 16:42] delta1 opened #3035 "Migrate to Rust `stable`"
Roadmap to Rust `stable`:

* [x] Migrate Tari Bulletproofs to stable - tari-project/bulletproofs#8
* [x] Migrate Tari Crypto to stable - tari-project/tari-crypto#47
* [x] Migrate Tari Protocol to stable - in progess
  - [x] #3034
  - [x] #3037
  - [x] #3056
  - [x] zkcrypto/subtle-ng#4
  - [x] remove unstable features #3759

[2021-07-04 15:16] stringhandler opened #3051 "Mobile wallets should have a button to trigger a scan of outputs for balance changes"
This idea was proposed by John Davies on tari telegram.

Basically have a button to trigger the wallet to scan the blockchain for balance changes, in addition to the normal wallet method of saving what it knows about. It will help reassure new users if something goes wrong with the standard method and will be something they are familiar with on other wallets. This was missing from Beam and Grin's

[2021-07-04 18:31] stringhandler opened #3052 "Unable to paste in tari console wallet on Windows 10"
On Windows 10, user could not paste address into tari_console_wallet.

User tried:
Ctrl+shift+v
and also right clicking, but did not solve it.
v0.8.11

[2021-07-04 18:33] delta1 commented on #3052
Do we know which terminal they were using? `cmd` or `powershell` or `windows terminal` or ?

[2021-07-04 19:12] blobstar commented on #3052
im not sure which terminal i was using (i think its cmd) but find attached a screenshot of my issue
![screenie1](https://user-images.githubusercontent.com/39502403/124396858-6fcd3e80-dd0c-11eb-89b0-9f0918437d13.jpg)

[2021-07-05 07:17] delta1 commented on #3052
hi @blobstar!

I presume you are trying to paste the emojis in to that field? I think that `cmd` probably doesn't like emojis, you could try either of these:

- long-press the "copy emoji id" button in Aurora, that will copy the public key instead of the emojis which you should be able to paste in `cmd`
- OR try [`windows terminal`](https://www.microsoft.com/en-us/p/windows-terminal/9n0dx20hk701?a

[2021-07-07 15:39] github-actions[bot] opened #3069 "RUSTSEC-2020-0058: crate has been renamed to `cipher`"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `stream-cipher`                      |
| Version             | `0.7.1`                   |
| URL                 | [https://github.com/RustCrypto/traits/pull/337](https://githu

[2021-07-08 07:36] delta1 commented on #3069
looks like this is from the pgp crate dependency on cfb-mode > stream-cipher

[code]

[2021-07-09 15:35] github-actions[bot] opened #3080 "RUSTSEC-2021-0073: Conversion from `prost_types::Timestamp` to `SystemTime` can cause an overflow and panic"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `prost-types`                      |
| Version             | `0.6.1`                   |
| URL                 | [https://github.com/tokio-rs/prost/issues/438](https://github.com/tokio-rs/prost/issues/438) |
| Date

[2021-07-13 18:00] delta1 commented on #1416
can this be closed @hansieodendaal @Cifko?

[2021-07-14 04:35] Cifko commented on #1416
IMHO yes. I will test it on my NB as well, if everything goes well I will close it.

[2021-07-14 05:00] delta1 commented on #1416
Thanks @Cifko

[2021-07-14 05:21] Cifko commented on #1416
Works fine on NB as well.

[2021-07-14 05:21] #1416 closed

[2021-07-14 08:58] hansieodendaal opened #3095 "[Console Wallet] SAF continuing for up to 28 hours after transactions are mined"
This proposal is (tick applicable):

* [ ] A new feature
* [ ] An extension to an existing RFC/proposal <LINK>
* [X] An alternative approach to an existing RFC or proposal <LINK>

### Change log

| Date | Changes |
|:-----|:--------|
|      |         |

### Goals
Symptoms:
The sender is repeatedly sending successfully mined transactions multiple times up to 28 hours after the finalized transaction

[2021-07-14 09:49] philipr-za commented on #3095
So the Sender only send a single Finalized Tx message to the Receiver once it gets the first reply. It will respond to repeated Replies with a Finalized tx if the Receiver keeps sending them. So there are two options here:

1. The Receiver is continuing to send replies because it hasn't received a Finalize message yet
2. The SAF system is allowing duplicates through

[2021-07-14 15:07] hansieodendaal commented on #1416
Confirmed from my side as well, whoop whoop!

[2021-07-18 09:02] delta1 opened #3104 "RandomX VM cannot be created with less than 2GB memory"
**Describe the bug**
Running the base node with less than 2080MB memory results in this error, a failure to create the randomx dataset. Even with randomx default flags, which should be able to create the VM in only 256MB memory.

#3103

Investigation into [tari-project/randomx-rs ](/tari-project/randomx-rs) and [tevador/randomx](/tevador/randomx) are required to establish why the default flags sti

[2021-07-20 12:47] hansieodendaal opened #3115 "Mempool view is different across nodes"
**Describe the bug**
With a recent stress test, the mempool view was different across nodes, resulting in many transactions not being mined.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run a 36,000 transaction stress test from 6 sending wallets to 10 receiving wallets, with each wallet connected to its own base node.

**Expected behaviour**
The mempool view should be fairly consistent a

[2021-07-20 12:51] hansieodendaal opened #3116 "Console wallets become unresponsive with many transactions"
**Describe the bug**
With a recent stress test, the console wallet tabs for the sending wallets become unresponsive with many transactions.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run a 36,000 transaction stress test from 6 sending wallets to 10 receiving wallets, with each wallet connected to its own base node.

**Expected behaviour**
The console wallet tabs for the sending wallets

[2021-07-20 12:59] hansieodendaal opened #3117 "Base node chain storage error while mining"
**Describe the bug**
With a recent stress test, having two receiving wallets connected to a local base node and a single thread SHA3 miner during the stress test, the base node started throwing this error to the miner:

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Run a 36,000 transaction stress test from 6 sending wallets to 10 receiving wallets. Each sending wallet should be con

[2021-07-20 13:06] hansieodendaal opened #3118 "Transactions invalidated due to deep reorgs, pending balance not updated"
**Describe the bug**
With a recent stress test, having two receiving wallets connected to a local base node and a single thread SHA3 miner during the stress test, the base node eventually failed. After connecting the wallets to a seed node the wallet transactions were detected as invalid.

_Initial analysis_
- This implies the local base node was mining on its own and not communicating to the rest

[2021-07-20 13:13] hansieodendaal opened #3119 "Base node not responding after sync request failed"
**Describe the bug**
With a recent stress test, having two receiving wallets connected to a local base node and a single thread SHA3 miner during the stress test, the base node stopped responding to requests after a sync request failed.

Logs up to the error:
[code]

Repeated logs after the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run a 36,000 transaction stress test fro

[2021-07-20 13:24] hansieodendaal opened #3120 "`search-kernel` not reflecting pruned status correctly in base node"
**Describe the bug**
With a recent stress test and multiple reorgs, `search-kernel` was not reflecting pruned status correctly in the base node CLI.

This node was an archival node, but the CLI message indicated otherwise.
Should the kernel of a deleted block be kept around?

See below:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run a 36,000 transaction stress test from 6 sending

[2021-08-09 05:50] github-actions[bot] opened #3170 "RUSTSEC-2021-0079: Integer overflow in `hyper`'s parsing of the `Transfer-Encoding` header leads to data loss"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `hyper`                      |
| Version             | `0.10.16`                   |
| URL                 | [https://github.com/hyperium/hyper/security/advisories/GHSA-5h46-h7hh-c6x9](https://github.com/hyperium/hyper/security/ad

[2021-08-09 05:50] github-actions[bot] opened #3171 "RUSTSEC-2021-0078: Lenient `hyper` header parsing of `Content-Length` could allow request smuggling"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `hyper`                      |
| Version             | `0.10.16`                   |
| URL                 | [https://github.com/hyperium/hyper/security/advisories/GHSA-f3pg-qwvg-p99c](https://github.com/hyperium/hyper/security/ad

[2021-08-09 05:50] github-actions[bot] opened #3172 "RUSTSEC-2021-0078: Lenient `hyper` header parsing of `Content-Length` could allow request smuggling"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `hyper`                      |
| Version             | `0.13.10`                   |
| URL                 | [https://github.com/hyperium/hyper/security/advisories/GHSA-f3pg-qwvg-p99c](https://github.com/hyperium/hyper/security/ad

[2021-08-27 07:15] delta1 opened #3254 "check-title CI failed on a valid title"
The valid PR title "feat(base_node): prompt user to create id if not found" failed on this PR: https://github.com/tari-project/tari/pull/3245

The error message was:

![image](https://user-images.githubusercontent.com/351403/131087805-632daa0b-646b-4059-bcca-abd92d008412.png)

I suspect that the PR title being passed to "echo" needs to be surrounded with quotes (which worked locally for me)

[2021-08-27 07:23] delta1 commented on #3254
Confirming it's a bash error

[code]

[2021-08-31 05:50] github-actions[bot] opened #3268 "RUSTSEC-2018-0007: Stack overflow when parsing malicious DNS packet"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `trust-dns-proto`                      |
| Version             | `0.21.0-alpha.2`                   |
| Date                | 2018-10-09                         |
| Patched versions    | `>=0.4.3`                  |

There&#39;s a

[2021-08-31 11:09] delta1 commented on #3254
Fixed in #3273

[2021-08-31 11:09] #3254 closed, assigned to nobody

[2021-09-01 08:30] SWvheerden opened #3277 "Force node to always be in syncing mode"
Currently, nodes decide on their status on received ping and pong messages. These messages contain the sender's ChainMetaData.

Currently, its possible to change increase the `accumulated_difficulty` field, and then broadcast this out to every connected node. The following then happens:

- The connected node then thinks it needs to sync to you.
- It searches for a fork and "finds" on 0 blocks back

[2021-09-03 06:53] SWvheerden opened #3288 "Wallet reconnect does not seem to always work"
When a wallet tries to connect to a node that has a full amount of RPC connections, the wallet will say waiting to connect. When the base node has space available again for connections, the wallet will not reconnect and needs to restart.

** To reproduce **

- Fill up a base node's RPC connections till it cant accept more.
- Connect wallet to the base node
- Clear up RPC connections to base_node
-

[2021-09-03 17:11] SWvheerden opened #3294 "RPC session count needs to be more intelligent"
Currently, the MAX RPC session count is just, a max count. We need to look at limiting the max per node. The nodes can handle quite a big load of RPC sessions, but we need to rethink the sessions to be only per node as having a broad limit makes it very easy to play shenanigans and open up loads of connections. Theoretically, a node only needs a single session.

[2021-09-06 07:35] StriderDM commented on #3104
Fixed here:
https://github.com/tari-project/tari/pull/3301

[2021-09-06 07:53] stringhandler opened #3302 "Tari Base Node doesn't run on Ubuntu 18.04"
logged via telegram group:

[code]

When running the binary

[2021-09-06 08:00] delta1 commented on #3302
Likely since we are building on 20.04, will attempt to change the build process to use 18.04

[2021-09-06 08:54] delta1 commented on #3302
error building croaring on 18.04 due to old clang version (6) - putting in a PR to change to `clang-10`

[2021-09-07 15:23] SWvheerden opened #3310 "RPC command fetch_headers generates in memory vector"
The RPC command `fetch_headers` on the server-side will generate a vector of block headers in memory before trying to send it.
Assuming the current tip height of around 20900, this will be of size 4.953 MB. Assuming only Sha3 blocks which are smaller than Monero blocks. This will grow in size as the blockchain grows, assuming 4mb max packets, to roughly block height 500 000. The server then needs

[2021-09-07 15:52] SWvheerden opened #3311 "RPC fetch_headers_with_hashes generates in memory vector"
The RPC command `fetch_headers_with_hashes` on the server-side will generate a vector of block headers in memory before trying to send it.
Assuming the current tip height of around 20900, this will be of size 4.953 MB. Assuming only Sha3 blocks which are smaller than Monero blocks. This will grow in size as the blockchain grows and at block height 500 000, the server then needs a vector of size 11

[2021-09-08 21:10] SWvheerden opened #3324 "Convert large requests to streams"
Currently, the BaseNode can receive the following comms requests:
[code]
These requests all internally build up large vectors of data, Blocks, BlockHeaders, etc. This makes it easy to misuse, either by just calling it with large data or by combining large requests with multiple requests. Some methods like `FetchHeadersAfter` has hard limits on how many results it can return, but this makes the met

[2021-09-09 10:59] SWvheerden commented on #3324
#3310
#3311

[2021-09-10 04:58] delta1 opened #3330 "Text block explorer dark mode"
Requested by Klein Carew on telegram

https://textexplore.tari.com

[2021-09-10 10:53] SWvheerden opened #3333 "Remove unused NodeComms requests and responses"
There are Node Comms requests and responses that are not used anymore. We need to remove them.

[code]
[code]

[2021-09-13 07:46] Sam2much96 opened #3339 "Create a public Android .aar Library of Tari Protocol dependencies."
This proposal is (tick applicable):

* [x] A new feature
* [ ] An extension to an existing RFC/proposal <LINK>
* [ ] An alternative approach to an existing RFC or proposal <LINK>

### Change log

| Date | Changes |
|:-----|:--------|
|      |         |

### Goals
It'll make integrating and developing mobile games on the Tari protocol easier, especially if the library is maintained by core devs

##

[2021-09-13 12:11] delta1 commented on #3339
Thanks @Sam2much96 good idea!

In the meanwhile you could take a look at how the aurora android code uses the Tari FFI library

https://github.com/tari-project/wallet-android

[2021-09-13 14:41] Sam2much96 commented on #3339
Will Do

[2021-09-23 15:45] delta1 commented on #3302
Should be resolved by #3305 will test

[2021-09-23 15:45] #3268 closed, assigned to nobody

[2021-09-23 15:47] delta1 commented on #3172
Dup of #3171

[2021-09-23 15:47] #3172 closed, assigned to nobody

[2021-09-23 15:47] #3104 closed, assigned to nobody

[2021-09-23 18:14] #3302 closed, assigned to nobody

[2021-10-04 14:13] SWvheerden opened #3410 "Node should validate incoming SAF messages"
A node should verify all incoming SAF messages if they are legit by either, or:

- Checking if they come from a nearby neighbor and request others
- OR preferably only accepting incoming SAF messages if it requested such messages.

By not checking these messages, it allows a malicious actor to control what the node downloads by preemptively forwarding messages to it. If SAF message can be used to

[2021-10-04 14:23] SWvheerden opened #3412 "Node should verify DHT message field "stored_at""
A node should verify and add some checking to the "stored_at" field of a SAF message and not just blindly use this as the "LastSafMessageReceived" field as this can cause a node to poison its own "LastSafMessageReceived" so that it never receives any SAF messages again.

[2021-10-05 15:33] SWvheerden opened #3419 "DHT should only store valid message body hashes in the dedup cache"
It is possible for a malicious node to tamper with the DHT header of a message to make the message invalid. It can then forward this message. All receiving nodes will store the message body in the dedup cache and proceed to process the message. It will then discard it, rightly so.

But when the correct message arrives with the correct header the node will discard the message because the body is al

[2021-10-05 21:17] therustmonk opened #3423 "tari_base_node: UnknownError on Fedora 34"
**Describe the bug**
Node failed with `UnknownError` on Fedora 34.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `tor`:

[code]

2. Run `tari_base_node`:

[code]

3. Node failed with:

[code]

4. And there is a warning in the `tor`'s logs:

[code]

**Desktop (please complete the following information):**
Linux fedora 5.14.9-200.fc34.x86_64 #1 SMP Thu Sep 30 11:55:35 UTC 2021 x86_64 x8

[2021-10-05 21:37] therustmonk commented on #3423
I already solved it and put this issue to help other Fedora users.

Fedora sets the value of **CookieAuthentication** parameter (of tor) to **1** in the `/etc/tor/torrc` config file.
Changing it to **0** and restarting `tor` solves the issue, but I'm not sure it's a secure way to solve that.

`man tor` fragment:

    If this option is set to 1, allow connections on the control port when the connec

[2021-10-06 05:01] delta1 commented on #3423
Nice find. There is an option to provide a tor password or cookie in config.toml so you don’t have to run tor without auth 👍 will link to it later

[2021-10-06 05:09] delta1 commented on #3423
Resolution for this is to at least have a more descriptive error or log message pointing to the tor auth issue

[2021-10-09 05:50] github-actions[bot] opened #3441 "RUSTSEC-2021-0119: Out-of-bounds write in nix::unistd::getgrouplist"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `nix`                      |
| Version             | `0.18.0`                   |
| URL                 | [https://github.com/nix-rust/nix/issues/1541](https://github.com/nix-rust/nix/issues/1541) |
| Date                | 2021-09

[2021-10-14 08:16] delta1 opened #3456 "can't spend minted token due to unique id index"
#3416 implemented a unique token id index and validator to check that token asset ids are unique on chain

however there is a bug where a token now cannot be spent

[code]

[2021-10-14 08:24] delta1 commented on #3441
tari_base_node > rustyline > nix

[2021-10-14 08:31] delta1 commented on #3441
bumping rustyline to 9.0 will require a code update

[2021-10-17 05:50] github-actions[bot] opened #3463 "RUSTSEC-2020-0071: Potential segfault in the time crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `time`                      |
| Version             | `0.1.44`                   |
| URL                 | [https://github.com/time-rs/time/issues/293](https://github.com/time-rs/time/issues/293) |
| Date                | 2020-11-

[2021-10-19 05:50] github-actions[bot] opened #3470 "RUSTSEC-2020-0159: Potential segfault in `localtime_r` invocations"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `chrono`                      |
| Version             | `0.4.19`                   |
| URL                 | [https://github.com/chronotope/chrono/issues/499](https://github.com/chronotope/chrono/issues/499) |
| Date

[2021-10-19 10:19] therustmonk commented on #3463
Related: https://github.com/chronotope/chrono/issues/602

[2021-10-19 10:29] therustmonk commented on #3463
Two ways to solve that:

1. Use `chrono` from git (blocked by https://github.com/chronotope/chrono/pull/578)
2. Wait for the new `chrono` release: https://github.com/chronotope/chrono/issues/602

Crates to update:

- `tari_console_wallet`
- `tari_wallet`
- `tari_app_grpc`
- `tari_merge_mining_proxy` (in `jsonrpc` dependency)
- `tari_mining_node` (`time` crate used directly)

[2021-10-19 13:32] delta1 commented on #3441
#3476

[2021-10-19 13:32] #3441 closed, assigned to nobody

[2021-10-25 10:48] stringhandler opened #3490 "Cucumber report generated by circle CI does not contain the logs as attachments"
Previously the circle ci html report generated would attach logs from all nodes, if the scenario has failed.

The logic is present here:
line 433 of world.js (https://github.com/tari-project/tari/blob/a72f42f97dd84e8225f563d75bef928462330e3f/integration_tests/features/support/world.js#L433)

[code]

[Cucumber Feature Report.zip](https://github.com/tari-project/tari/files/7409408/Cucumber.Feature.R

[2021-11-04 05:32] sdbondi commented on #3277
Closed in #3478

[2021-11-04 05:32] #3277 closed, assigned to nobody

[2021-11-14 11:49] sdbondi opened #3570 "Duplicate words in mnemonic lists cause break language detection"
**Describe the bug**
Ref [BIP039](https://github.com/bitcoin/bips/tree/master/bip-0039)
Duplicate words breaks language detection.
Detection currently assumes unique words in each language set. Suggest changing it to account for duplicates
by considering more than one word in the seed until a single set is selected.

Duplicates:

- English/Spanish 'album'
- English/Spanish 'area'
- English/Spanish

[2021-11-17 05:50] github-actions[bot] opened #3581 "RUSTSEC-2021-0124: Data race when sending and receiving after closing a `oneshot` channel"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `tokio`                      |
| Version             | `0.2.25`                   |
| URL                 | [https://github.com/tokio-rs/tokio/issues/4225](https://github.com/tokio-rs/tokio/issues/4225) |
| Date                | 2

[2021-11-17 07:41] delta1 commented on #3581
There's a whole bunch of deps using tokio v1.13.0 and it looks like tower v0.3.1 is using tokio v0.2.25

[2021-11-19 10:05] delta1 commented on #3581
#3595

[2021-11-19 10:05] #3581 closed, assigned to nobody

[2021-12-29 01:55] AaronFeickert opened #3675 "Broken links in RFC description"
Some reference links for the RFC lifecycle are broken.

The links are here:
- https://github.com/tari-project/tari/blob/development/RFC/src/about.md?plain=1#L12
- https://github.com/tari-project/tari/blob/development/RFC/src/about.md?plain=1#L15

[2022-01-14 16:13] CjS77 opened #3706 "RFC-120 Formatting issues"
**Describe the bug**
RFC-120/Consensus  mathematics is poorly formatted in several places.

[2022-01-17 10:40] SWvheerden commented on #3706
fixed in #3710

[2022-01-17 10:40] #3706 closed, assigned to SWvheerden

[2022-01-26 20:20] delta1 commented on #3570
Was this fixed?

[2022-01-26 20:23] #3412 closed, assigned to nobody

[2022-01-26 20:25] #3456 closed, assigned to nobody

[2022-01-27 03:57] sdbondi commented on #3570
Fixed in #3607

[2022-01-27 03:57] #3570 closed, assigned to nobody

[2022-02-02 06:51] #3035 closed, assigned to nobody

[2022-02-06 17:32] AaronFeickert opened #3801 "Binary hashes are unsigned and served from the same external location as binaries"
Binary hashes on the [downloads page](https://www.tari.com/downloads/) appear to be served from the same external location as the binaries themselves, and are unsigned. An attacker able to substitute its own binaries or alter the download links could simply provide its own matching hashes.

If the intent is to use the hashes to provide a degree of certainty to users that binaries are legitimate, o

[2022-02-07 07:34] delta1 commented on #3801
Thanks @AaronFeickert great feedback. I agree the hashes should certainly be signed by a maintainer key for each release.

Reproducible builds are a priority, although I think [rust still has a number of issues](https://github.com/rust-lang/rust/labels/A-reproducibility) related to that.

I propose in the short term we do the following:

- release is tagged, hashes are checked by a maintainer and

[2022-02-07 16:22] AaronFeickert commented on #3801
If the hashes are signed, I don't see why you couldn't continue to serve them from the same location as the binaries if that's easier. The site would need to make clear which key to use, and ensure that it's not easy for the attacker to change this.

[2022-02-10 11:21] philipr-za opened #3821 "Create a gRPC interface in console wallet to set the connected base node"
Address the following TODO in the code:

// TODO gRPC interfaces for setting base node

clear TODO comment when completed

[2022-02-10 11:33] philipr-za opened #3822 "Investigate removal of derived Serialized/Deserialized and Debug traits for UnblindedOuput and RawTransactionInfo"
As per the TODO comments investigate if we can get rid of these implementations as they can potentially leak private data.

I believe the Serialize/Deserialize will need to stay as they are using for database storage but the Debug trait should be removed.

Remove TODO's when done

// TODO: Try to get rid of 'Serialize' and 'Deserialize' traits here; see related comment at 'struct RawTransactionInf

[2022-02-10 11:59] philipr-za opened #3823 "Add Mnemonic language Autodetection for ChineseTraditional and ChineseSimplified"
// TODO: Develop a language autodetection mechanism to distinguish between ChineseTraditional and ChineseSimplified

remove TODO from code when done

[2022-02-12 05:25] zhangcheng commented on #1728
The above code snippets from @flipchan can only determine the size of the current terminal, but lack of a way to resize it.
Nonetheless, the knowledge in it leads me to discover the [crossterm](https://github.com/crossterm-rs/crossterm) crate, which solves the problem nicely. Hence PR #3827.

[2022-02-13 08:55] zhangcheng commented on #3821
I just took a crack on this.
@philipr-za pls take a look at the attached PR (#3828), does this align with your idea for this ticket?
I am new to Tari, gRPC and Rust, feedback is very welcome.

Also, I don't know how to write a proper unit test for this yet.

[2022-02-15 08:15] #1728 closed

[2022-02-15 08:16] #3821 closed, assigned to nobody

[2022-02-16 15:15] #254 closed

[2022-02-17 11:20] delta1 commented on #3823
This todo is in the file: `base_layer/key_manager/src/mnemonic.rs`

Some notes:

- [ ] Add a new variant for `ChineseTraditional` to the `MnemonicLanguage` enum
- [ ] Create a new word list in `mnemonic_wordlists` for `MNEMONIC_CHINESE_TRADITIONAL_WORDS` using the [BIP word list ](https://github.com/bitcoin/bips/blob/master/bip-0039/chinese_traditional.txt)
- [ ] Add or update tests to detect the

[2022-02-17 13:36] zhangcheng commented on #252
@CjS77 would you pls take a look at above linked PR and comment? like to make sure I am in the right direction first.

[2022-02-17 21:11] CjS77 commented on #252
I see that you wrote that things feel "clumsy" in the test.

Is it because you feel that the API for this trait is a bit weird? I opened this issue a long time ago, but I suspect it's because I felt that the trait was not very ergonomic and that some clear docs would help indicate how it should be used.

@mikethetike -- I did a very quick scan and looks like this trait is never used in tari_core.

[2022-02-17 21:25] CjS77 commented on #252
A more detailed grep suggests it's only really used in the `Hashable` trait, so we could just bundle it up into there and remove `ExtendBytes` from tari_utilities

[2022-02-18 05:09] zhangcheng commented on #252
The impl part feels a bit weird to a person like me coming from Python background, seeing that literally same piece of code repeated for each similar type.

[2022-02-18 05:12] zhangcheng commented on #252
I see that #215 is about the `Hashable` trait, so I will consider how to combine these two.

[2022-02-18 18:30] zhangcheng commented on #252
I applied my newbie knowledge of macro to improve the impl part (hopefully).

Also looked into `infrastructure/derive/src/hashable.rs`, the code is way out of my league now. Is it really qualified as "good first issue", I have to wonder. 😅

[2022-02-19 05:28] zhangcheng commented on #252
Just updated my PR, that's all I can do given my current understanding. 😺

Small side note: i64 wasn't implemented previously, but probably just as @CjS77 checked that this piece of code is not really in use.

[2022-02-19 05:34] zhangcheng commented on #215
Crosslink from #252, if this one is about `infrastructure/derive/src/hashable.rs`, is it as low barrier as to be qualified as a "good first issue"?

[2022-02-21 06:51] zhangcheng commented on #252
Update the PR to include more general clean-up.
@CjS77 pls take a look when you have time, and there is a typo fix pending your confirmation.

[2022-02-21 14:02] zhangcheng commented on #658
I think this ticket could be closed now since there are already [discard channels](https://discord.gg/q3Sfzb8S2V). Glad to find out that just now (didn't read the official homepage more closely before. 🥲 )

[2022-02-21 14:06] #658 closed

[2022-02-28 05:46] zhangcheng commented on #252
@CjS77 just want to remind you take a look at the linked PR. 😄

[2022-03-07 15:47] #252 closed

[2022-03-11 22:10] #3675 closed, assigned to nobody

[2022-03-16 12:11] CjS77 opened #3921 "Estimated hashrate calculation is incorrect"
The [estimated hash rate calculation](https://github.com/tari-project/tari/blob/c0750b7496d62efdde43d9d053c3f49c51299c83/applications/tari_base_node/src/grpc/base_node_grpc_server.rs#L185) is using this formula:

`t_i / (t_{i+1} - t_i)`

where `t_i` is the timestamp of the ith block.

This is not correct. It is dimensionless for one thing, whereas we expect H/s as units at the very least.

This wa

[2022-03-16 13:04] CjS77 opened #3923 "Downcasting in difficulty calculation can lead to overflow"
The [difficulty calculation](https://github.com/tari-project/tari/blob/c0750b7496d62efdde43d9d053c3f49c51299c83/base_layer/core/src/proof_of_work/difficulty.rs#L119) has an overflow issue:

[code]

Here, `scalar` is the target for the mining algorithm. The smaller the target, the more difficult it is to find a hash with the requisite number of leading zeroes.

The definition of difficulty is `TARG

[2022-03-30 13:31] #3490 closed, assigned to nobody

[2022-03-31 05:50] github-actions[bot] opened #3986 "RUSTSEC-2021-0127: serde_cbor is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `serde_cbor`                      |
| Version             | `0.11.2`                   |
| URL                 | [https://github.com/pyfisch/cbor](https://github.com/pyfisch/cb

[2022-04-04 10:04] mrnaveira commented on #3986
We don't use `serde_cbor` crate directly, but through criterion.

[They have an open PR](https://github.com/bheisler/criterion.rs/pull/560) to replace `serde_cbor` with  `ciborium `. So let's keep an eye on it to update our criterion version when it's fixed

[2022-04-05 15:36] stringhandler commented on #573
See applications/launchpad

[2022-04-05 15:36] #573 closed

[2022-04-06 12:52] stringhandler commented on #577
Implemented

[2022-04-06 12:52] #577 closed

[2022-04-06 13:04] stringhandler commented on #1553
I believe this is solved through the Metadata signature on the output now

[2022-04-06 13:04] #1553 closed

[2022-04-06 13:06] sdbondi commented on #996
Closing for now

[2022-04-06 13:06] #996 closed

[2022-04-06 13:09] stringhandler commented on #1807
This is solved by tracking the mined height and hash in the wallet

[2022-04-06 13:09] #1807 closed, assigned to nobody

[2022-04-06 13:09] #1882 closed, assigned to nobody

[2022-04-06 13:10] #1906 closed, assigned to nobody

[2022-04-06 13:12] stringhandler commented on #2080
Thinking about this many months later, I don't think it is wise, since common workspaces and buildings often share a single IP address

[2022-04-06 13:12] #2080 closed, assigned to sdbondi

[2022-04-06 13:12] #2115 closed, assigned to nobody

[2022-04-06 13:15] stringhandler commented on #2268
This has been implemented

[2022-04-06 13:15] #2268 closed, assigned to nobody

[2022-04-06 13:15] stringhandler commented on #2342
The wallet uses a different process now, so can be closed. Please reopen and add details if not the case

[2022-04-06 13:15] #2342 closed, assigned to nobody

[2022-04-06 13:17] #2389 closed, assigned to nobody

[2022-04-06 13:17] #2315 closed, assigned to nobody

[2022-04-06 13:18] #2515 closed, assigned to nobody

[2022-04-06 13:20] sdbondi commented on #2620
These have been implemented with some deviations from this description. Details in #2654

[2022-04-06 13:20] #2620 closed, assigned to nobody

[2022-04-06 13:33] SWvheerden commented on #2617
This was performed in a refactor.

[2022-04-06 13:33] #2617 closed, assigned to nobody

[2022-04-07 17:07] #3419 closed, assigned to nobody

[2022-04-19 01:06] lawndoc opened #4043 "Code injection in CI workflow"
I would have submitted this privately, but I didn't see a SECURITY.md file in this repo. I also think this is partially mitigated, so it's okay to make you aware through an issue.

The [`pr_title`](https://github.com/tari-project/tari/blob/development/.github/workflows/pr_title.yml) workflow has a command injection vulnerability that allows someone to open a pull request and give it a title that w

[2022-04-19 09:07] delta1 commented on #4043
Nice find but fairly minimal impact. What mitigation would you suggest?

The point about having an avenue for security disclosure is very important @mikethetike ^^

[2022-04-19 09:09] delta1 commented on #4043
Found this, but haven’t read the source yet

https://github.com/dreampulse/action-commitlint-pull-request-title

[2022-04-19 09:33] delta1 commented on #3330
This was implemented

[2022-04-19 09:33] #3330 closed, assigned to nobody

[2022-04-19 09:34] #2781 closed, assigned to nobody

[2022-04-19 09:34] #2780 closed, assigned to nobody

[2022-04-19 09:34] #2778 closed, assigned to nobody

[2022-04-19 14:53] lawndoc commented on #4043
I'm not familiar with commitlint, does it need the exact PR title to lint the related commits? Or can you use an action in a previous step to sanitize the title?

The only concern I have with the action you found is that it suggests using `pull_request_target` as a trigger, but that can be dangerous because it runs in the context of _your_ repo and not the incoming fork that wants to merge. That m

[2022-04-20 13:32] delta1 commented on #4043
Although the tool is generally used for commits, in this case it is used for the PR title since that becomes the commit message of the squashed merge commit.

Do you know of a command line tool to sanitize the title string?

Yep that's why I said it has minimal impact. It has no access to resources, and would quickly be noticed.

Agreed there, thanks.

[2022-04-20 14:21] lawndoc commented on #4043
The challenge is that you don't want the variable anywhere in the `run` section because if it's part of a command, it can be modified to end the command and inject new ones. You'd have to find or make a GitHub Action that allows you to enter the variable as an input and outputs a sanitized version. I might make an Action for that at some point.

[2022-04-28 13:57] sdbondi commented on #3410
Fixed in #3444 - only requested SAF responses are accepted

[2022-04-28 13:57] #3410 closed, assigned to nobody

[2022-04-28 13:59] #3052 closed, assigned to nobody

[2022-04-28 14:00] #2479 closed, assigned to nobody

[2022-04-28 14:00] #2346 closed, assigned to nobody

[2022-04-28 14:00] #2228 closed, assigned to nobody

[2022-04-28 14:01] #2210 closed, assigned to nobody

[2022-04-28 14:01] #2209 closed, assigned to nobody

[2022-04-28 14:04] #1850 closed, assigned to nobody

[2022-04-28 14:07] #2128 closed

[2022-04-28 14:20] leet4tari commented on #1407
Quick and easier ways to build. Closing issue.

[2022-04-28 14:20] #1407 closed

[2022-04-28 14:21] leet4tari commented on #1696
With Raspberry PI OS 64bit, don't think this is a problem any more. Closing.

[2022-04-28 14:21] #1696 closed

[2022-05-03 18:07] lawndoc commented on #4043
Coming back to this cause I thought of a much better way to sanitize the input. You should make the `${{github.event.pull_request.title}}` an environment variable and then reference it using a normal bash variable. Example below:

[code]

Please note that it's important to keep the double quotes around the variable on the command line or you can open yourself up to the injection of things like glo

[2022-05-03 21:01] stringhandler commented on #4043
nice one

[2022-05-11 12:00] jorgeantonio21 commented on #3923
Hello, I am interested in tackling this issue. I included the suggested code change in a newly created PR:

https://github.com/tari-project/tari/pull/4090

 I also want to add test coverage for this new functionality, but I am having some difficulty with it, which I describe in the PR. Any help is highly appreciate it.

[2022-05-11 16:19] jorgeantonio21 commented on #3921
Is this issue still on hold ? It looks like a very interesting issue to tackle.

However, after looking at the current code it seems that this might have already been refactored accordingly. Indeed there is a file `hash_rate.rs` in the same parent folder as the code mentioned here, which implements the necessary logic to compute the required hash rate moving average.

[2022-05-11 19:29] jorgeantonio21 commented on #1920
Hello guys,

I am interested in tackle this issue. I see that some time has passed since the last time this was updated, is this still on hold? Moreover, it seems that some of the code has been deprecated. Could you please provide some update info to start working on this issue?

Thank you for the help

[2022-05-11 21:02] CjS77 commented on #3921
Yes it looks like this was fixed in #3996

[2022-05-11 21:02] #3921 closed, assigned to nobody

[2022-05-12 16:05] #3923 closed, assigned to nobody

[2022-05-13 08:23] sdbondi commented on #1920
Hey @jorgeantonio21 Thanks for your interest in helping with this. This is a nice-to-have feature as currently any change to the blockchain database requires a full resync.

If you'd like to take a crack at it, feel free to ask myself or anyone else on discord #dev channel - happy to help!

There is already example of this for the LMDB peer database. [Peer DB Migrations](https://github.com/tari-pr

[2022-05-16 04:59] dominick2088 commented on #1781
@LukasRada cool！just ：apt install libprotobuf-dev protobuf-compiler  thank you ，bro

[2022-05-16 04:59] dominick2088 commented on #1781
@sdbondi cool！just ：apt install libprotobuf-dev protobuf-compiler thank you ，bro

[2022-05-17 14:48] hansieodendaal commented on #3095
Pending further testing, lots have changed since

[2022-05-17 14:48] #3095 closed, assigned to nobody

[2022-05-17 14:48] hansieodendaal commented on #3119
Pending further testing, lots have changed since

[2022-05-17 14:48] #3119 closed, assigned to nobody

[2022-05-17 14:48] hansieodendaal commented on #3117
Pending further testing, lots have changed since

[2022-05-17 14:48] #3117 closed, assigned to nobody

[2022-05-17 14:48] hansieodendaal commented on #3118
Pending further testing, lots have changed since

[2022-05-17 14:48] #3118 closed, assigned to nobody

[2022-05-17 14:54] stringhandler opened #4108 "Tari Script should use Varints instead of u64's"
For example, CHECK_HEIGHT takes in a u64 which for the most part will be padded zeroes. It should use VarInt when serializing and deserializing

[2022-05-17 23:11] AaronFeickert opened #4110 "Message encryption does not use a KDF"
Message encryption currently [parses an ECDH shared secret directly](https://github.com/tari-project/tari/blob/development/comms/dht/src/crypt.rs#L49-L56) as a ChaCha20 symmetric encryption key. Using an ECDH shared secret in this way is nonstandard and brittle.

Recommendations:
- Change the return type of `generate_ecdh_secret` from `CipherKey` to another (or a new) type, to prevent it from bein

[2022-05-23 10:09] stringhandler commented on #3288
@SWvheerden is this still reproducible?

[2022-05-25 18:37] AaronFeickert opened #4137 "Wallet database encryption does not bind to field keys"
Wallet database field key-value entries are secured in place: AES-GCM is used to encrypt values, with keys left in the clear. However, the value encryption does not bind this operation to the field key. An attacker could replace these values with other encrypted values taken from elsewhere in the database (or otherwise encrypted using the same AES-GCM key) without detection.

One mitigation is to

[2022-05-25 19:52] AaronFeickert opened #4138 "Message decryption relies (in part) on deserialization for validity"
When a node wishes to determine if it can decrypt an incoming encrypted message, it performs several steps; these include:
- Generating an ECDH shared secret using the provided ephemeral public key
- Decrypting the message signature ("origin MAC")
- Deserializing the signature
- Deserializing the signature public key
- Verifying the signature against the message and header
- Decrypting the message

[2022-05-25 20:12] AaronFeickert opened #4139 "Message signature ("origin MAC") does not directly bind to the recipient public key"
According to [RFC-0170](https://rfc.tari.com/RFC-0170_NetworkCommunicationProtocol.html), a message `NodeDestination` need not be a public key or cryptographically derived from a public key. This means that a message signature ("origin MAC") may not bind to the public key intended to be used (as part of an ECDH exchange against a sender-provided ephemeral public key) for the wrapping encryption of

[2022-05-25 20:17] AaronFeickert opened #4140 "Encrypted message lengths are trivially leaked"
Message encryption and [decryption](https://github.com/tari-project/tari/blob/development/comms/dht/src/inbound/decryption.rs#L331-L332) are performed using the `ChaCha20` stream cipher. Because no padding is applied, the length of encrypted messages is trivially leaked, and is equal to the length of the resulting ciphertext. Additionally, header data like the message type is sent in the clear. An

[2022-05-25 20:39] AaronFeickert opened #4141 "Repository does not have a security policy"
As mentioned in [this issue](https://github.com/tari-project/tari/issues/4043), the project repository does not have a listed [security policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository). Adding one makes it clear to researchers how to responsibly report vulnerabilities.

[2022-06-07 21:51] AaronFeickert opened #4170 "Wallet private key derivation is brittle"
[Wallet key derivation](https://github.com/tari-project/tari/blob/development/base_layer/key_manager/src/key_manager.rs#L87-L92) relies on concatenation of seed entropy, a variable-length branch string, and an index. These values are hashed after concatenation using SHA-256, and parsed as a private key.

This approach is brittle:
- The concatenation can collide on distinct inputs, since arbitrary-

[2022-06-08 16:26] AaronFeickert opened #4176 "Hardcode a more recent zero point for wallet birthday"
A wallet's [birthday](https://github.com/tari-project/tari/blob/development/base_layer/key_manager/src/cipher_seed.rs#L61) is encoded as the number of days since the [Unix epoch](https://en.wikipedia.org/wiki/Unix_time), with a 2-byte capacity. This will hit its maximum value around the year 2060; however, this is wasteful, since no mainnet blocks have been mined between the epoch and now.

The fo

[2022-06-11 00:55] AaronFeickert opened #4182 "`CipherSeed` MAC is keyed directly with low-entropy passphrase"
The MAC used in the `CipherSeed` construction is [keyed](https://github.com/tari-project/tari/blob/development/base_layer/key_manager/src/cipher_seed.rs#L214) (via `Blake2b` input concatenation) with the user-supplied passphrase, which should be assumed to be of low entropy.

A straightforward improvement is to extend the associated `Argon2` output and split it to generate two keys: one for the `C

[2022-06-13 06:16] hansieodendaal commented on #4182
Wow, the pitfalls...

[2022-06-22 20:49] CjS77 opened #4224 "Inconsistent serialisation of keys in gRPC"
In the wallet gRPC server:

[code]

The keys are a byte array of the _hex_ representation.

In the validator node gRPC server:

[code]

It's the little-endian byte representation of the 256bit integer

I didn't check any other implementations, but there should be a consistent representation across the board to prevent confusion.

Personally, I prefer a String representation (64 byte hex string), o

[2022-06-22 21:51] stringhandler commented on #4224
The wallet (first) example is wrong, it should be a little endian byte representation.

[2022-06-24 14:21] hansieodendaal opened #4231 "Only outputs with scripts `== script!(Nop)` is recover-able - can this be improved?"
[code]
Is this really the case?

_Originally posted by @stringhandler in https://github.com/tari-project/tari/pull/4213#discussion_r905975950_

[2022-07-04 05:43] hansieodendaal commented on #2997
@stringhandler, did the introduction of the metadata signature not close this issue, as the script Bob agrees to is signed?

[2022-07-04 07:41] stringhandler commented on #2997
100%.

[2022-07-04 07:41] #2997 closed, assigned to nobody

[2022-07-07 07:31] hansieodendaal opened #4279 "Move power-of-two chunking logic for range proofs batch verification into the the Bulletproofs+ crate"
This function should be in the bulletproofs+ crate. Think about it - Verifying batches of non power-of-two sets is something you'd be writing over and over if its not there.

_Originally posted by @CjS77 in https://github.com/tari-project/tari/pull/4260#discussion_r913607007_

[2022-07-09 17:28] jorgeantonio21 commented on #4182
I tried to tackle this issue, the PR can be found [here](https://github.com/tari-project/tari/pull/4296).

[2022-07-11 17:59] AaronFeickert commented on #4182
Another recommendation that came up recently in a discussion with @jorgeantonio21 was to use separate hash operations for turning the [primary salt](https://github.com/tari-project/tari/blob/development/base_layer/key_manager/src/cipher_seed.rs#L116) into the `Argon2` [salt](https://github.com/tari-project/tari/blob/development/base_layer/key_manager/src/cipher_seed.rs#L245) and `ChaCha20` [nonce]

[2022-07-13 08:05] TruszczynskiA opened #4304 "FFI library is applying encryption just after wallet_remove_encryption() is called"
When the client app is calling `wallet_remove_encryption` it expects that DB will remain decrypted till `wallet_apply_encryption` or `wallet_create` is called. However, the SQLite database is encrypted a brief moment after the decryption.

 - OS: iOS and Android (Aurora Wallet App)

[2022-07-17 10:59] jorgeantonio21 commented on #4170
A possible approach to this issue can be found [here](https://github.com/tari-project/tari/pull/4316). We make use of the current hashing [API](https://github.com/tari-project/tari-crypto/blob/main/src/hashing.rs), for proper domain separation. Moreover, current key index fixed length encoding is obtained by use of little endian representation of an `u64`.

[2022-07-18 07:42] #2808 closed, assigned to nobody

[2022-07-21 19:52] AaronFeickert commented on #4110
Superseded by #4138.

[2022-07-21 19:55] AaronFeickert commented on #4138
The discretization approach in #4140 can be used here. To do so, assemble an extended message consisting of the original message length (in a platform-independent and fixed-length encoding), the original message, and arbitrary padding up to the next multiple of a globally-fixed base length. This extended message is then used for the encryption and decryption steps above.

[2022-07-21 20:08] AaronFeickert opened #4332 "Message signature ("origin MAC") challenge should use hashing API"
Message signature ("origin MAC") [challenges](https://github.com/tari-project/tari/blob/development/comms/dht/src/origin_mac.rs#L43-L48) should use the new hashing API.

[2022-07-21 20:12] AaronFeickert opened #4333 "Message challenge should use hashing API"
Message [challenges](https://github.com/tari-project/tari/blob/development/comms/dht/src/crypt.rs#L114-L133) should use the new hashing API.

Additionally, the nomenclature for this is confusing. First, the hash output is used as the input message for the message "origin MAC", which is actually a signature. Additionally, it is not really a challenge, but simply a binding representation of certain

[2022-07-21 20:17] AaronFeickert commented on #4138
In case it is useful here, it's possible to use fixed nonces for both the message encryption and the signature authenticated encryption, since in honest messages the ephemeral public key used for derived encryption keys is unique. A malicious or malfunctioning sender could reuse an ephemeral key and nonce anyway in a way not detected by the recipient unless it caches previous values, so there does

[2022-07-21 20:18] AaronFeickert commented on #4138
Note that the new hashing API should be used for the key derivations proposed here.

[2022-07-21 20:18] AaronFeickert commented on #4110
The new hashing API should be used here.

[2022-07-22 18:12] AaronFeickert opened #4339 "Examine peer banning logic"
Since #4336 introduces a new message decryption failure mode, this is a good opportunity to review peer banning logic more broadly. Here are some hypothetical scenarios that should not occur:

1. A node attempts to decrypt a message not intended for it, so the message signature authenticated decryption fails, which does not represent malicious behavior. The node bans the peer that forwarded the me

[2022-07-27 11:14] SWvheerden opened #4346 "Investigate Invalid transaction message while running cucumber tests"
**Describe the bug**
When running cucumber tests (the easy one to run is: `Clear out mempool`) the base node gets lots of transactions that fail to validate with the following warning:
`WARN  Validation failed due to input: xxx [OutputFeatures { version: V0, output_type: Standard, maturity: 0, metadata: [], sidechain_features: None, unique_id: None, parent_public_key: None, asset: None, mint_non_f

[2022-07-28 08:16] SWvheerden opened #4352 "Failed to handle incoming block"
Base node seems to get a lot of these messages in normal operations
`00:45 ERROR Failed to handle incoming block message: CommsInterfaceError(ChainStorageError(CannotCalculateNonTipMmr("Block (#86354) previous hash is 7716f2d2327ea40cac3b1b8dd7350563438ccbf8b8a663610e92e03c60f95ba6 but the current tip is #86338 76b7c5d4826bc7c68fa6644a38768909b7c35b23882aedfad00216cc0941a450")))
00:45 ERROR Failed

[2022-07-28 08:30] SWvheerden opened #4353 "Better coinbase handling in wallet"
The wallet generates new coinbases for mines when asked. This is done on the height and amount.

What the wallet does is when it is asked for a new coinbase it searches the db for a coinbase tx for that height and amount. If a match is found, that is returned. If a match is not found, it creates a new tx for that height and amount. But it also delete's all other coinbases for that height.

This is

[2022-07-28 08:46] SWvheerden opened #4354 "Remove wallet migration for testnet reset"
The wallet has a migration to change how the key manage states are stored in the wallet. This needs to be removed before test-net reset.
The relevant code is marked as:
`/// This is a temporary migration file to convert existing indexes to new ones.
/// Todo remove at next testnet reset (currently on Dibbler) #testnet_reset`

[2022-07-28 08:49] SWvheerden opened #4355 "Generate new genesisblock for esmaralda"
We need to generate a new genesis block for Esmeralda .

This new genesisblock for Esmerlada
We need:

- new coinbase
- new MR roots for utxo, RP, Witness
- new faucet utxos

[2022-07-28 08:55] SWvheerden opened #4356 "Consolidate all sql migrations"
The wallet has a lot of leftover migrations that are not used anymore.
All of the migrations can be consolidated into single up/down files for each used table with the correct fields.

The longer we leave this the more messier this becomes, ideally we want to only have a single set for when we do mainnet.

[2022-07-28 09:11] SWvheerden opened #4357 "Allow burn of tari"
Allowing burning of Tari as per RFC 122:
https://github.com/tari-project/rfcs/pull/10

[2022-07-29 05:07] sdbondi commented on #4332
Fixed in #4336

[2022-07-29 05:07] #4332 closed, assigned to nobody

[2022-07-29 09:03] SWvheerden opened #4360 "Prune mode does not work"
Prune mode is not currently working.
A good starting point for this ticket is to get the cucumber test: `Pruned mode simple sync` working again

[2022-07-29 15:50] SWvheerden opened #4363 "Delete Seed words commands from GRPC"
~~Seed word command is broken on GRPC~~

` thread 'tokio-runtime-worker' panicked at 'called `Option::unwrap()` on a `None` value', applications/tari_console_wallet/src/grpc/wallet_grpc_server.rs:1210:50`
~~

Delete the two seed words commands from GRPC

[2022-07-29 16:14] SWvheerden opened #4365 "Kernel signature does not commit to all kernel fields"
Currently, the kernel does not commit to all kernel fields.
We don't commit to the:

-  public excess
- Features

We also need to commit to the new burning features: https://github.com/tari-project/tari/pull/4364

[2022-08-01 13:45] stringhandler opened #4372 "GRPC[base node]: ListHeaders and GetHeadersByHeight do the same thing"
In the BaseNode GRPC, there are two methods:
1. ListHeaders
2. GetHeaderByHeight

These two methods do the same thing, or at least, you can call ListHeaders with a single height to get one header, but GetHeadersByHeight returns extra information, such as confirmations and rewards.

I suggest removing the single call and adding the extra fields to the ListHeader call

[2022-08-02 16:10] #4357 closed, assigned to SWvheerden

[2022-08-02 16:12] SWvheerden commented on #4365
PR: https://github.com/tari-project/tari/pull/4377

[2022-08-03 09:33] delta1 commented on #4363
Fixed in #4370

[2022-08-03 09:37] #4140 closed, assigned to nobody

[2022-08-04 05:42] SWvheerden opened #4383 "Require an identity signature once majority nodes are upgraded"
[code]

in code  at: `// TODO(testnetreset): Require an identity signature once majority nodes are upgraded`

[2022-08-04 12:52] #4383 closed, assigned to SWvheerden

[2022-08-04 14:16] SWvheerden opened #4389 "Invalid error message"
When sending a block with an incorrect kernel signature, the following message is displayed:
`2022-08-04 16:13:47.440975000 [c::bn::comms_interface::inbound_handler] WARN  Peer <local request> sent an invalid header: Validation error: The transaction is invalid: Signature is invalid: Verifying kernel signature`

It should not be a header, but block

[2022-08-04 14:33] SWvheerden opened #4390 "fix cucumber transaction builder"
Since the new hasing api, the signatures of the cucumber tests are not working correctly.
We need to fix the signatures in transactionBuilder.js

[2022-08-05 06:39] SWvheerden commented on #4231
There exist a wallet struct `known scripts`. This should be checked

[2022-08-05 07:08] SWvheerden commented on #4365
Fixed in https://github.com/tari-project/tari/pull/4377

[2022-08-05 07:08] #4365 closed, assigned to SWvheerden

[2022-08-05 07:08] stringhandler commented on #4390
This Js class might be useful
![image](https://user-images.githubusercontent.com/4200336/183021693-fe014d92-9383-4a13-abc1-8b6299ddba8a.png)

[2022-08-05 07:17] SWvheerden commented on #4390
That's the reason it's not working,
We have some disconnect between the JS Domain hasher and the Rust Domain hasher.

[2022-08-05 07:19] hansieodendaal opened #4392 "Implement tari_crypto hashing API: DAN layer"
|      | Effective  GitHub hash: d25d726ed7e04a066135b80b1de9c019d928a75c |                                     |        |                                                              |                                                              |
| ---- | ------------------------------------------------------------ | ----------------------------------- | ------ | --------------------------------

[2022-08-05 07:20] hansieodendaal opened #4393 "Implement tari_crypto hashing API: Comms"
|      | Effective  GitHub hash: d25d726ed7e04a066135b80b1de9c019d928a75c |                              |        |                                                              |                                                              |
| ---- | ------------------------------------------------------------ | ---------------------------- | ------ | ----------------------------------------------

[2022-08-05 07:23] hansieodendaal opened #4394 "Implement tari_crypto hashing API: base_layer core"
|      | Effective  GitHub hash: d25d726ed7e04a066135b80b1de9c019d928a75c |                                                |        |                                                              |                                                              |
| ---- | ------------------------------------------------------------ | ---------------------------------------------- | ------ | ----------

[2022-08-05 07:24] hansieodendaal opened #4395 "Implement tari_crypto hashing API: mmr & wallet"
|      | Effective  GitHub hash: d25d726ed7e04a066135b80b1de9c019d928a75c |                                   |        |                                                              |                                                              |
| ---- | ------------------------------------------------------------ | --------------------------------- | ------ | ------------------------------------

[2022-08-05 07:26] hansieodendaal opened #4396 "Implement tari_crypto hashing API: ConsensusHasher::default()"
|      | Effective  GitHub hash: d25d726ed7e04a066135b80b1de9c019d928a75c |                                                              |        |                                                              |                                                              |
| ---- | ------------------------------------------------------------ | ------------------------------------------------------

[2022-08-05 08:54] CjS77 commented on #4395
Nice commit messages ❤️

[2022-08-05 09:01] #4355 closed, assigned to SWvheerden

[2022-08-05 10:58] hansieodendaal opened #4399 "base_node panics with config setting: check_interval = 0"
**Describe the bug**

This setting in the config.toml gets the base node to panic:
[code]

**To Reproduce**

Run the base node with config option as above.

**Expected behavior**

Should not panic.

**Screenshots**

[code]

**Desktop (please complete the following information):**

Windwos 10

**Smartphone (please complete the following information):**

 n/a

**Additional context**

n/a

[2022-08-05 11:00] hansieodendaal opened #4400 "base_node panics with config setting: rpc_max_simultaneous_sessions = -1"
**Describe the bug**

The base node panics with this config setting;
[code]

**To Reproduce**

Run base node with above config setting

**Expected behavior**

Should not panic

**Screenshots**

[code]

**Smartphone (please complete the following information):**

n/a

**Additional context**

n/a

[2022-08-05 12:16] SWvheerden opened #4402 "Network default not loading correct config settings"
If you run the base_node as `cargo run --bin tari_base_node`
The node will run in the default network which is Esmeralda.
But the node will not read the correct config settings from `config.toml`

Running the node as  `cargo run --bin tari_base_node -- -- network esmeralda` solves this and the node reads the correct setting

[2022-08-05 12:27] stringhandler opened #4403 "Wallet (console and FFI) should have setting to not choose outputs that reveal the address"
# Problem

Wallets currently will choose the best outputs as inputs when spending, however since a lurking base node can generate a transaction graph of inputs to outputs with relative ease, a wallet may reveal its transaction history by including a (non-stealth address) one-sided payment.

For example, an attacker wishing to know the transaction graph of a public key `PK_Alice`  can send a one-si

[2022-08-05 12:58] hansieodendaal opened #4404 "console_wallet does not recognize password config setting, runtime error & exists"
**Describe the bug**

The console wallet does not recognize the password config setting:
[code]

**To Reproduce**

Apply password in config.toml and run the console wallet.

**Expected behavior**

The wallet should not produce an error reading the password

**Screenshots**

[code]

**Desktop (please complete the following information):**

Windows 10

**Smartphone (please complete the following inf

[2022-08-05 14:32] SWvheerden commented on #4352
This log always happens before:```
` WARN  add_block is disabled. Ignoring candidate block #64 (02fee9e34f8e9efc1a51576d17a1f7515286bc37a6e6a1330f5f22d228a921e9)`

So its a race condition

[2022-08-05 14:51] hansieodendaal opened #4408 "console_wallet command "coin-split" not working"
**Describe the bug**

The console wallet opens the TUI without executing the command:
[code]

**To Reproduce**

Execute as above

**Expected behavior**

This line must be printed: `info!(target: LOG_TARGET, "Starting wallet command mode");`
The command should execute.

**Screenshots**

[code]

**Desktop (please complete the following information):**

Windows 10

**Smartphone (please complete the f

[2022-08-05 14:55] hansieodendaal opened #4409 "console_wallet command "--command-mode-auto-exit" is broken"
**Describe the bug**

Command `--command-mode-auto-exit` is broken
[code]

**To Reproduce**

Run as above.

**Expected behavior**

The command should be executed.

**Screenshots**

[code]

**Desktop (please complete the following information):**

Windows 10

**Smartphone (please complete the following information):**

n/a

**Additional context**

n/a

[2022-08-08 07:09] stringhandler opened #4410 "Esme testnet reset tracking issue"
A list of issues/bugs preventing the release of Esmeralda testnet

[ ] MMR Issue [Link TBD](...)
[ ] Hashing API remaining implementations
[ ] Testing Guide (stringhandler to create)
[ ] Comms to base node potentially losing connection
[ ] xmrig seems to stop mining after about 2 hours
[] Make stealth addresses the default for one sided in ffi [issue #4423](https://github.com/tari-project/tari/iss

[2022-08-08 07:18] stringhandler opened #4411 "Allow multiple wallets to run with the same Public Key, but different tor/ip addresses"
Allow multiple wallets to run with the same Public Key, but different tor/ip addresses

[2022-08-08 07:28] SWvheerden commented on #4411
With this we have an issue with keeping track of spent UTXOs, received UTXO and which key index to use.
This is not just a comms issue.

A quick win here could be just to display a warning if it detects another wallet with the same pubkey on the network.

[2022-08-08 08:11] sdbondi opened #4412 "rpgp crate is massive for debug builds"
**Describe the bug**
rgpg downloads a tests crate that is massive and slow to download - we should change the fork to exclude the `rgpg/tests` crate.

[2022-08-08 09:03] #4402 closed, assigned to sdbondi

[2022-08-08 10:28] stringhandler commented on #4408
This has been changed to:

`tari_console_wallet.exe --base-path . --password 1 --network esmeralda  --config .\config\config.toml --log-config .\config\log4rs_console_wallet.yml coin-split 1T 166`

[2022-08-08 10:28] #4408 closed, assigned to agubarev

[2022-08-08 10:29] stringhandler commented on #4409
The `--command-mode-auto-exit` works, but you need to specify a command. See `--help` for available commands

[2022-08-08 10:29] #4409 closed, assigned to nobody

[2022-08-08 10:44] sdbondi opened #4413 "Remove scary-looking user-facing errors that are not errors."
Address the following error messages:

These should be reduced to info:

- `Remote peer closed rpc`
- - `ERROR Outbound messaging protocol failed for peer 0885662e727ebc0d4a80ac5cb9: IO Error: 1d407314/1: connection is closed`
- ~~`WARN  Too many (40) connection failures, cooldown is in effect`~~

Add more TCP nodes to eliminate the following warning:
- `0% of nodes using tcp but 10% required` - N

[2022-08-08 10:51] sdbondi opened #4414 "Wallet should detect local base nodes and automatically use them unless configured not to"
1. scan the common port/s on localhost
2. call `identify` and check the result
3. set base node

[2022-08-08 11:01] stringhandler commented on #4414
The wallet must prompt the user with something like "I detected a local base node running at 18142. Would you like to use this base node? **IF YOU DID NOT START THIS BASE NODE YOU SHOULD SELECT NO** (Y/n)"

[2022-08-08 11:16] sdbondi opened #4416 "Console wallet: Reports of "buggy resizing" on tmux on linux and windows"
Context: https://t.me/tariproject/61480

[2022-08-08 11:24] sdbondi opened #4417 "wallet should configure itself to speak the p2p protocol locally if local base node detected"
related to #4414 but for p2p

Comms is able to communicate directly for some peers if configured before initialization.
We may have to add the ability to configure this post-initialization.

Pertinent configuration items:

[code]

[2022-08-08 11:45] sdbondi opened #4418 "Remove references to weatherwax in the READMEs"

[2022-08-08 11:50] #65 closed

[2022-08-08 11:51] stringhandler commented on #165
Closing because musig implementation has been removed from tari-crypto and there's no development planned for now

[2022-08-08 11:51] #165 closed

[2022-08-08 11:57] stringhandler commented on #1430
This is implemented in https://github.com/tari-project/tari-launchpad

[2022-08-08 11:57] #1430 closed

[2022-08-08 12:07] agubarev commented on #4404
https://github.com/tari-project/tari_utilities/pull/47

This PR should fix this problem.

[2022-08-08 12:49] #4354 closed, assigned to SWvheerden

[2022-08-08 13:02] stringhandler opened #4419 "Create a simple NewBlockTemplate that creates a block template and inserts the coinbase in one -- one sided coinbase"
The current 2 step process of creating a block template is inefficient and means that there could be a delay for miners. Mining nodes that have implemented a better get_template will win more blocks, so it should be as efficient as possible

[2022-08-08 16:10] hansieodendaal opened #4422 "miner panics with custom and default config settings"
**Describe the bug**

The tari miner (commit `13231effc96893e7a112e3f4a4c4f850ea831892`) panics with
- custom GRPC addresses
[code]
- default config settings

**To Reproduce**

Run the  tari miner as in the examples below

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

Error 1
[code]

Error 2
[code]

**Desktop (please complete the following

[2022-08-08 16:52] agubarev opened #4423 "Make stealth addresses the default for one sided in ffi"

[2022-08-08 16:56] #4231 closed, assigned to SWvheerden

[2022-08-09 09:47] #4353 closed, assigned to jorgeantonio21

[2022-08-10 07:05] sdbondi commented on #4411
On the comms level, the following changes would be needed:
- configuration to enable multiple connections (as this is only valid for wallets, not base nodes)
- if `enable_multiple_connections == true` allow multiple connections for the same node id:
   - if a connection already exists for a node id, add to internal state without conflict resolution
   - internal connection state maps use <NodeId,

[2022-08-10 10:16] SWvheerden commented on #4419
The biggest issue we have here is the private key.
We need some unique key generation here.
Either

- we need to send over a private key with grpc
- add in a default wallet to call from the base_node
- add a built-in wallet to the base node
- provide the seed key so the base node can construct the correct key.

[2022-08-10 10:41] sdbondi commented on #4393
Implemented one that was missing here in #4432

[2022-08-10 10:46] SWvheerden commented on #4419
If the Miner can calculate the MMR roots, then we can do it in a single call.
Problem with this however is that to calculate new MMR roots, the miner needs a copy of the entire pruned set of the MMR.

[2022-08-10 11:47] SWvheerden commented on #4411
The current wallet does not scan a block, it only scans for specific utxo's and if they are valid depending on a tip header.

For this to work, we need the wallets to handle every block and do like a recovery on the block to find new outputs, etc.
It's also very likely to do double spends, where more than one wallet tries to send a tx using the same inputs or even reuses the same keys for new outp

[2022-08-10 11:59] #4418 closed, assigned to SWvheerden

[2022-08-10 12:29] SWvheerden commented on #4356
fixed in: https://github.com/tari-project/tari/pull/4415

[2022-08-10 12:29] #4356 closed, assigned to jorgeantonio21

[2022-08-10 12:42] #4137 closed, assigned to agubarev

[2022-08-10 12:56] SWvheerden commented on #4390
fixed in: https://github.com/tari-project/tari/pull/4420

[2022-08-10 12:56] #4390 closed, assigned to nobody

[2022-08-10 13:52] SWvheerden opened #4436 "MMR root calculation for non tips"
Currently, the function `calculate_mmr_roots` does not work on any height except the tip height.
Expand this so it can calculate the function at any height.

[2022-08-10 13:53] #4389 closed, assigned to nobody

[2022-08-10 14:37] #4352 closed, assigned to SWvheerden

[2022-08-10 20:48] Cifko commented on #4043
https://github.com/tari-project/tari/pull/4327

[2022-08-10 20:48] #4043 closed, assigned to Cifko

[2022-08-11 06:18] SWvheerden opened #4443 "Investigate header version usage in cucumber"
Cucumber seems to be using header version 2 and its accepted
Cucumber is running Dibbler still

[2022-08-11 06:36] sdbondi commented on #4411
Thanks for the explanation, that is tricky. The problem we have now is that this case is ~~almost certainly~~definitely going to happen.

So if I understand correctly, we'd need to change the current scanning code to include standard transactions in addition to one-sided (not just for recovery)? AFAIK, the key indexes are updated as scanning occurs so they should sync as transactions are found.

T

[2022-08-11 08:56] #4400 closed, assigned to Cifko

[2022-08-11 08:57] #4346 closed, assigned to Cifko

[2022-08-11 08:57] Cifko commented on #4400
https://github.com/tari-project/tari/pull/4442

[2022-08-11 11:25] stringhandler opened #4449 "Incorrect ban reason saved here"
This code (find it pls) should save the ban reason as "BanReason::PeerSentInaccurateChainMetadata" (v0.35.0)

[code]

[2022-08-11 11:34] delta1 commented on #4449
https://github.com/tari-project/tari/blob/6163d7baf71dbca7d21af09a204f5f6c5c515cd4/base_layer/core/src/base_node/sync/header_sync/synchronizer.rs#L175

[2022-08-11 11:35] stringhandler opened #4450 "When a node advertises chain metadata, it should include the header and the header should be at least higher than the network's minimum difficulty"

[2022-08-11 11:49] stringhandler opened #4451 "Use config value here instead of hardcoded time"
found in v0.35.0

[code]

[2022-08-11 11:49] stringhandler commented on #4451
@delta1 ?

[2022-08-11 12:07] stringhandler opened #4452 "Allow wallets to scan interactive payments regularly"
Wallets currently scan the blockchain for one sided payments on a scheduled interval, there's no reason why they shouldn't also scan interactive payments

[2022-08-11 16:11] #4360 closed, assigned to SWvheerden

[2022-08-11 16:11] #4443 closed, assigned to SWvheerden

[2022-08-12 05:18] SWvheerden commented on #4452
Remember to update the spend key index when finding new payments

[2022-08-12 05:27] SWvheerden commented on #4450
Currently, we advertise chain metadata with ping-pong messages.
This means we need to increase the size of the ping-pong messages to include the header, which means our ping-pong message goes from 16 bytes to 283 bytes. I think we need to add a rpc request to send the tip header or so, not send it with the ping-pong.

Mining a header at network minimum difficulty is not that difficult either. We m

[2022-08-12 05:31] SWvheerden opened #4456 "Remove unused L2 from Esmeralda"
Esmeralda contains a lot of unused L2 code that we can remove.

[2022-08-12 06:01] Cifko commented on #4416
I can't reproduce mentioned behavior.
But on windows there is an issue with the base node. By default the app try to resize itself. But that works only in old terminal (Windows Console Host). If you are like me and have Windows Terminal set as a default, then you can't resize and the resizing ends up messing with the outputs. It's a known issue https://github.com/microsoft/terminal/issues/5094 .

[2022-08-12 06:18] SWvheerden opened #4457 "fix critical cucumber tests"
We need to fix all cucumber tests marked as `@critical and @broken`

[2022-08-15 06:41] SWvheerden commented on #1118
This is already fixed

[2022-08-15 06:41] #1118 closed

[2022-08-15 08:23] #3333 closed, assigned to SWvheerden

[2022-08-15 08:32] sdbondi commented on #4412
This is actually fixed in #4426 - the reason that the large rpgp testcases were downloaded was because we referenced rpgp using a git link (due to zeroize conflict). Now that that is resolved, the testcases are excluded from the published crate.

Closing.

[2022-08-15 08:32] #4412 closed, assigned to nobody

[2022-08-15 08:37] SWvheerden commented on #4404
This is still a problem
[code]

[2022-08-15 08:46] #4410 closed, assigned to nobody

[2022-08-15 09:00] hansieodendaal commented on #4396
Hi @AaronFeickert, would using the domain separated hashing API for the above hashes be required? We were debating the issue and would like your opinion. Just search for `ConsensusHasher::default()` in the code base and you will find where it is used.

_`ConsensusHasher::default()` implements standard Blake2b hashing._

[2022-08-15 09:10] #4333 closed, assigned to jorgeantonio21

[2022-08-15 09:17] hansieodendaal commented on #4457
@Cifko, see fix here: https://github.com/tari-project/tari/pull/4445/commits/16da4afa882824c1aaba2dd8d9942c5e0fe8f20f. All (`@critical` and but not `@broken`) tests passed on #4445.

[2022-08-15 09:39] hansieodendaal opened #4468 "Enable script mode in console wallet"
[code]

[2022-08-15 10:00] Cifko commented on #4457
Out of the 7 marked as `@critical and @broken` 4 works fine. There is a comment about flakiness possibility. But I tried to rerun them couple times and they work fine. I'm working on one of the still broken ones. It's still broken after an update.

[2022-08-15 10:01] SWvheerden commented on #4457
Perhaps we can try then without the `@broken` tag on ci?

[2022-08-15 10:03] hansieodendaal opened #4469 "Add cucumber test for one-sided transactions with different types of `known_one_sided_payment_scripts`"
Different payment scripts needs to be tested with `pub async fn scan_and_recover_outputs`

[2022-08-15 10:44] Cifko commented on #4457
I've created a PR for the (I have a hope) working tests: https://github.com/tari-project/tari/pull/4471

[2022-08-15 10:45] #4392 closed, assigned to jorgeantonio21

[2022-08-15 10:47] jorgeantonio21 commented on #4393
I think this issue can be closed as of now.

[2022-08-15 10:47] #4393 closed, assigned to jorgeantonio21

[2022-08-15 12:00] hansieodendaal opened #4473 "Compile end user test cases"

[2022-08-15 12:03] hansieodendaal commented on #4473
Compile end user test cases for all highest priority (and potentially 2nd highest priority) use cases for the base node, console wallet, aurora wallet, merge mining proxy and miner.

[2022-08-15 13:03] stringhandler opened #4475 "Cover remaining Base node GRPC methods in cucumber"
There are not many tests covering the base-node GRPC.

The following methods should be covered in integration (cucumber tests)

[code]

[2022-08-15 13:14] stringhandler opened #4477 "Consider removing the bullet proof from coinbase outputs"
Perhaps consider changing the coinbase outputs not to have a bulletproof attached since the output value is already known and can be calculated. Perhaps we could change it to a schnorr signature, proving that the owner knows the blinding factor.

This would save around 700 bytes in every block and potentially reduce the number of calls to generate a valid block template.

[2022-08-15 13:18] stringhandler opened #4478 "Lock down the transfer method on wallet GRPC to have some kind of authentication."
Lock down the transfer method on wallet GRPC to have some kind of authentication.

Currently, anybody on the local machine can send funds out of the wallet via GRPC

[2022-08-15 13:19] SWvheerden opened #4479 "Update wallet zero point for birthday"
Logging this, so we don't forget to update this with Esmeralda release:
See: https://github.com/tari-project/tari/pull/4275
And https://github.com/tari-project/tari/issues/4176

[2022-08-15 13:33] SWvheerden commented on #3311
We have removed this request

[2022-08-15 13:33] #3311 closed, assigned to nobody

[2022-08-15 13:36] #3310 closed, assigned to nobody

[2022-08-15 13:51] SWvheerden commented on #2633
This is fixed, now takes in the Consensus manager, and get new consensus constants for each new header, and thus height

[2022-08-15 13:51] #2633 closed, assigned to nobody

[2022-08-15 14:07] SWvheerden commented on #2770
Test if this is still an issue on the new Esmeralda

[2022-08-15 14:22] SWvheerden commented on #2892
We should upgrade to v0.10.1 for aes-gcm

[2022-08-15 14:28] SWvheerden commented on #2893
We should upgrade to v0.10.1 for aes-gcm

[2022-08-15 14:30] SWvheerden commented on #2904
We should upgrade to v0.10.1 for aes-gcm

[2022-08-15 14:32] SWvheerden commented on #3080
We only currently use prost-types `v 0.9`

[2022-08-15 14:32] #3080 closed, assigned to nobody

[2022-08-15 14:37] SWvheerden commented on #3170
Currently, use 0.14.12

[2022-08-15 14:37] #3170 closed, assigned to nobody

[2022-08-15 14:37] SWvheerden commented on #3171
Currently use `hyper = "0.14.12"`

[2022-08-15 14:37] #3171 closed, assigned to nobody

[2022-08-15 14:42] sdbondi commented on #2777
Closing because this was implemented in #3642

[2022-08-15 14:42] #2777 closed, assigned to nobody

[2022-08-15 14:49] SWvheerden opened #4480 "Update aes-gcm to version 0.10.1"
Current version 8 contains a few issues:
https://github.com/tari-project/tari/issues/2904
https://github.com/tari-project/tari/issues/2893
https://github.com/tari-project/tari/issues/2892

[2022-08-15 15:10] delta1 commented on #2777
Naas

[2022-08-15 15:18] SWvheerden commented on #2859
Thanks for the effort in logging this bug, We have made many improvements over the last year. If this issue is still present in the current version of Tari, will you please reopen the issue, and we will have a careful look into the cause?

[2022-08-15 15:18] #2859 closed, assigned to nobody

[2022-08-15 15:18] SWvheerden commented on #2797
Thanks for the effort in logging this bug; we have made many improvements over the last year. If this issue is still present in the current version of Tari, will you please reopen the issue, and we will have a careful look into the cause?

[2022-08-15 15:18] #2797 closed, assigned to nobody

[2022-08-15 15:19] SWvheerden commented on #2580
Thanks for the effort in logging this bug. We have made many improvements over the last year. If this issue is still present in the current version of Tari, will you please reopen the issue, and we will have a careful look into the cause?

[2022-08-15 15:19] #2580 closed, assigned to nobody

[2022-08-15 15:20] SWvheerden commented on #1799
connectivity manager is merged in, this will also not be an issue anymore because sending wallets will cancel stale transactions after a whole if the receiver does not respond

[2022-08-15 15:20] #1799 closed, assigned to nobody

[2022-08-16 06:09] #4452 closed, assigned to jorgeantonio21

[2022-08-16 06:19] SWvheerden opened #4482 "remove test_faucet after reset"
Remove tari test_faucet after the actual gen block was created and no new changes has been made to outputs

[2022-08-16 06:23] #4482 closed, assigned to nobody

[2022-08-16 10:20] SWvheerden commented on #2159
Closing this.
Although we don't do an explicit check here when we cancel a transaction, we can only really check for the single outputs we own. If we can communicate with the exact wallet that finalized the transaction, we cannot recreate the kernel fields etc.
We can scan for the output, but since: https://github.com/tari-project/tari/pull/4464, we scan each block for outputs anyway. If an output

[2022-08-16 10:22] #2159 closed, assigned to SWvheerden

[2022-08-16 10:38] #4456 closed, assigned to SWvheerden

[2022-08-16 10:58] #4449 closed, assigned to Cifko

[2022-08-16 16:11] SWvheerden commented on #3288
It does not look like it is, closing this

[2022-08-16 16:11] #3288 closed, assigned to SWvheerden

[2022-08-16 17:00] #4480 closed, assigned to SWvheerden

[2022-08-16 17:00] #2904 closed, assigned to nobody

[2022-08-16 17:00] #2893 closed, assigned to nobody

[2022-08-16 17:00] #2892 closed, assigned to nobody

[2022-08-17 05:33] SWvheerden opened #4488 "Cucumber transaction builder broken"
Will all of the recent hashing api changes the cucumber transaction builder is broken again.
We need to fix it.

[2022-08-17 05:34] SWvheerden opened #4489 "Update monero-rs to work with hardfork v15"
Recent Monero hardfork to v15 broke the merge mining.